src/main/wsdl/AbsenceCRUDService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://absence.news.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://absence.news.technical.jSeduite.modalis.i3s.unice.fr/" name="AbsenceCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://absence.news.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://o8hw000506:8080/jSeduite/SchoolLife/AbsenceCRUDService?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteAbsence">
<part name="parameters" element="tns:deleteAbsence"/>
</message>
<message name="deleteAbsenceResponse">
<part name="parameters" element="tns:deleteAbsenceResponse"/>
</message>
<message name="TeacherAbsenceException">
<part name="fault" element="tns:TeacherAbsenceException"/>
</message>
<message name="readAbsence">
<part name="parameters" element="tns:readAbsence"/>
</message>
<message name="readAbsenceResponse">
<part name="parameters" element="tns:readAbsenceResponse"/>
</message>
<message name="updateAbsence">
<part name="parameters" element="tns:updateAbsence"/>
</message>
<message name="updateAbsenceResponse">
<part name="parameters" element="tns:updateAbsenceResponse"/>
</message>
<message name="createAbsence">
<part name="parameters" element="tns:createAbsence"/>
</message>
<message name="createAbsenceResponse">
<part name="parameters" element="tns:createAbsenceResponse"/>
</message>
<portType name="AbsenceCRUD">
<operation name="deleteAbsence">
<input wsam:Action="http://absence.news.technical.jSeduite.modalis.i3s.unice.fr/AbsenceCRUD/deleteAbsenceRequest" message="tns:deleteAbsence"/>
<output wsam:Action="http://absence.news.technical.jSeduite.modalis.i3s.unice.fr/AbsenceCRUD/deleteAbsenceResponse" message="tns:deleteAbsenceResponse"/>
<fault message="tns:TeacherAbsenceException" name="TeacherAbsenceException" wsam:Action="http://absence.news.technical.jSeduite.modalis.i3s.unice.fr/AbsenceCRUD/deleteAbsence/Fault/TeacherAbsenceException"/>
</operation>
<operation name="readAbsence">
<input wsam:Action="http://absence.news.technical.jSeduite.modalis.i3s.unice.fr/AbsenceCRUD/readAbsenceRequest" message="tns:readAbsence"/>
<output wsam:Action="http://absence.news.technical.jSeduite.modalis.i3s.unice.fr/AbsenceCRUD/readAbsenceResponse" message="tns:readAbsenceResponse"/>
<fault message="tns:TeacherAbsenceException" name="TeacherAbsenceException" wsam:Action="http://absence.news.technical.jSeduite.modalis.i3s.unice.fr/AbsenceCRUD/readAbsence/Fault/TeacherAbsenceException"/>
</operation>
<operation name="updateAbsence">
<input wsam:Action="http://absence.news.technical.jSeduite.modalis.i3s.unice.fr/AbsenceCRUD/updateAbsenceRequest" message="tns:updateAbsence"/>
<output wsam:Action="http://absence.news.technical.jSeduite.modalis.i3s.unice.fr/AbsenceCRUD/updateAbsenceResponse" message="tns:updateAbsenceResponse"/>
<fault message="tns:TeacherAbsenceException" name="TeacherAbsenceException" wsam:Action="http://absence.news.technical.jSeduite.modalis.i3s.unice.fr/AbsenceCRUD/updateAbsence/Fault/TeacherAbsenceException"/>
</operation>
<operation name="createAbsence">
<input wsam:Action="http://absence.news.technical.jSeduite.modalis.i3s.unice.fr/AbsenceCRUD/createAbsenceRequest" message="tns:createAbsence"/>
<output wsam:Action="http://absence.news.technical.jSeduite.modalis.i3s.unice.fr/AbsenceCRUD/createAbsenceResponse" message="tns:createAbsenceResponse"/>
<fault message="tns:TeacherAbsenceException" name="TeacherAbsenceException" wsam:Action="http://absence.news.technical.jSeduite.modalis.i3s.unice.fr/AbsenceCRUD/createAbsence/Fault/TeacherAbsenceException"/>
</operation>
</portType>
<binding name="AbsenceCRUDPortBinding" type="tns:AbsenceCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteAbsence">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="TeacherAbsenceException">
<soap:fault name="TeacherAbsenceException" use="literal"/>
</fault>
</operation>
<operation name="readAbsence">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="TeacherAbsenceException">
<soap:fault name="TeacherAbsenceException" use="literal"/>
</fault>
</operation>
<operation name="updateAbsence">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="TeacherAbsenceException">
<soap:fault name="TeacherAbsenceException" use="literal"/>
</fault>
</operation>
<operation name="createAbsence">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="TeacherAbsenceException">
<soap:fault name="TeacherAbsenceException" use="literal"/>
</fault>
</operation>
</binding>
<service name="AbsenceCRUDService">
<port name="AbsenceCRUDPort" binding="tns:AbsenceCRUDPortBinding">
<soap:address location="http://o8hw000506:8080/jSeduite/SchoolLife/AbsenceCRUDService"/>
</port>
</service>
</definitions>