src/main/wsdl/AlarmFinderService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/" name="AlarmFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/SchoolLife/AlarmFinderService?xsd=1"/>
</xsd:schema>
</types>
<message name="getADayAlarms">
<part name="parameters" element="tns:getADayAlarms"/>
</message>
<message name="getADayAlarmsResponse">
<part name="parameters" element="tns:getADayAlarmsResponse"/>
</message>
<message name="AlarmException">
<part name="fault" element="tns:AlarmException"/>
</message>
<message name="findAlarmById">
<part name="parameters" element="tns:findAlarmById"/>
</message>
<message name="findAlarmByIdResponse">
<part name="parameters" element="tns:findAlarmByIdResponse"/>
</message>
<message name="getAllAlarmIds">
<part name="parameters" element="tns:getAllAlarmIds"/>
</message>
<message name="getAllAlarmIdsResponse">
<part name="parameters" element="tns:getAllAlarmIdsResponse"/>
</message>
<message name="getAlarmsByBreakTimeId">
<part name="parameters" element="tns:getAlarmsByBreakTimeId"/>
</message>
<message name="getAlarmsByBreakTimeIdResponse">
<part name="parameters" element="tns:getAlarmsByBreakTimeIdResponse"/>
</message>
<portType name="AlarmFinder">
<operation name="getADayAlarms">
<input wsam:Action="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/AlarmFinder/getADayAlarmsRequest" message="tns:getADayAlarms"/>
<output wsam:Action="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/AlarmFinder/getADayAlarmsResponse" message="tns:getADayAlarmsResponse"/>
<fault message="tns:AlarmException" name="AlarmException" wsam:Action="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/AlarmFinder/getADayAlarms/Fault/AlarmException"/>
</operation>
<operation name="findAlarmById">
<input wsam:Action="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/AlarmFinder/findAlarmByIdRequest" message="tns:findAlarmById"/>
<output wsam:Action="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/AlarmFinder/findAlarmByIdResponse" message="tns:findAlarmByIdResponse"/>
<fault message="tns:AlarmException" name="AlarmException" wsam:Action="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/AlarmFinder/findAlarmById/Fault/AlarmException"/>
</operation>
<operation name="getAllAlarmIds">
<input wsam:Action="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/AlarmFinder/getAllAlarmIdsRequest" message="tns:getAllAlarmIds"/>
<output wsam:Action="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/AlarmFinder/getAllAlarmIdsResponse" message="tns:getAllAlarmIdsResponse"/>
<fault message="tns:AlarmException" name="AlarmException" wsam:Action="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/AlarmFinder/getAllAlarmIds/Fault/AlarmException"/>
</operation>
<operation name="getAlarmsByBreakTimeId">
<input wsam:Action="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/AlarmFinder/getAlarmsByBreakTimeIdRequest" message="tns:getAlarmsByBreakTimeId"/>
<output wsam:Action="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/AlarmFinder/getAlarmsByBreakTimeIdResponse" message="tns:getAlarmsByBreakTimeIdResponse"/>
<fault message="tns:AlarmException" name="AlarmException" wsam:Action="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/AlarmFinder/getAlarmsByBreakTimeId/Fault/AlarmException"/>
</operation>
</portType>
<binding name="AlarmFinderPortBinding" type="tns:AlarmFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getADayAlarms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AlarmException">
<soap:fault name="AlarmException" use="literal"/>
</fault>
</operation>
<operation name="findAlarmById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AlarmException">
<soap:fault name="AlarmException" use="literal"/>
</fault>
</operation>
<operation name="getAllAlarmIds">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AlarmException">
<soap:fault name="AlarmException" use="literal"/>
</fault>
</operation>
<operation name="getAlarmsByBreakTimeId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AlarmException">
<soap:fault name="AlarmException" use="literal"/>
</fault>
</operation>
</binding>
<service name="AlarmFinderService">
<port name="AlarmFinderPort" binding="tns:AlarmFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/SchoolLife/AlarmFinderService"/>
</port>
</service>
</definitions>