src/main/wsdl/AlarmCRUDService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/" name="AlarmCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/SchoolLife/AlarmCRUDService?xsd=1"/>
</xsd:schema>
</types>
<message name="readAlarm">
<part name="parameters" element="tns:readAlarm"/>
</message>
<message name="readAlarmResponse">
<part name="parameters" element="tns:readAlarmResponse"/>
</message>
<message name="AlarmException">
<part name="fault" element="tns:AlarmException"/>
</message>
<message name="updateAlarm">
<part name="parameters" element="tns:updateAlarm"/>
</message>
<message name="updateAlarmResponse">
<part name="parameters" element="tns:updateAlarmResponse"/>
</message>
<message name="createAlarm">
<part name="parameters" element="tns:createAlarm"/>
</message>
<message name="createAlarmResponse">
<part name="parameters" element="tns:createAlarmResponse"/>
</message>
<message name="deleteAlarm">
<part name="parameters" element="tns:deleteAlarm"/>
</message>
<message name="deleteAlarmResponse">
<part name="parameters" element="tns:deleteAlarmResponse"/>
</message>
<portType name="AlarmCRUD">
<operation name="readAlarm">
<input wsam:Action="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/AlarmCRUD/readAlarmRequest" message="tns:readAlarm"/>
<output wsam:Action="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/AlarmCRUD/readAlarmResponse" message="tns:readAlarmResponse"/>
<fault message="tns:AlarmException" name="AlarmException" wsam:Action="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/AlarmCRUD/readAlarm/Fault/AlarmException"/>
</operation>
<operation name="updateAlarm">
<input wsam:Action="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/AlarmCRUD/updateAlarmRequest" message="tns:updateAlarm"/>
<output wsam:Action="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/AlarmCRUD/updateAlarmResponse" message="tns:updateAlarmResponse"/>
<fault message="tns:AlarmException" name="AlarmException" wsam:Action="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/AlarmCRUD/updateAlarm/Fault/AlarmException"/>
</operation>
<operation name="createAlarm">
<input wsam:Action="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/AlarmCRUD/createAlarmRequest" message="tns:createAlarm"/>
<output wsam:Action="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/AlarmCRUD/createAlarmResponse" message="tns:createAlarmResponse"/>
<fault message="tns:AlarmException" name="AlarmException" wsam:Action="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/AlarmCRUD/createAlarm/Fault/AlarmException"/>
</operation>
<operation name="deleteAlarm">
<input wsam:Action="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/AlarmCRUD/deleteAlarmRequest" message="tns:deleteAlarm"/>
<output wsam:Action="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/AlarmCRUD/deleteAlarmResponse" message="tns:deleteAlarmResponse"/>
<fault message="tns:AlarmException" name="AlarmException" wsam:Action="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/AlarmCRUD/deleteAlarm/Fault/AlarmException"/>
</operation>
</portType>
<binding name="AlarmCRUDPortBinding" type="tns:AlarmCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="readAlarm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AlarmException">
<soap:fault name="AlarmException" use="literal"/>
</fault>
</operation>
<operation name="updateAlarm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AlarmException">
<soap:fault name="AlarmException" use="literal"/>
</fault>
</operation>
<operation name="createAlarm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AlarmException">
<soap:fault name="AlarmException" use="literal"/>
</fault>
</operation>
<operation name="deleteAlarm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AlarmException">
<soap:fault name="AlarmException" use="literal"/>
</fault>
</operation>
</binding>
<service name="AlarmCRUDService">
<port name="AlarmCRUDPort" binding="tns:AlarmCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/SchoolLife/AlarmCRUDService"/>
</port>
</service>
</definitions>