src/main/wsdl/ApalWrapperService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://apal.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://apal.technical.jSeduite.modalis.i3s.unice.fr/" name="ApalWrapperService">
<types>
<xsd:schema>
<xsd:import namespace="http://apal.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/ApalWrapper/ApalWrapperService?xsd=1"/>
</xsd:schema>
</types>
<message name="getPromos">
<part name="parameters" element="tns:getPromos"/>
</message>
<message name="getPromosResponse">
<part name="parameters" element="tns:getPromosResponse"/>
</message>
<message name="getTopWithTreshold">
<part name="parameters" element="tns:getTopWithTreshold"/>
</message>
<message name="getTopWithTresholdResponse">
<part name="parameters" element="tns:getTopWithTresholdResponse"/>
</message>
<message name="getLoosers">
<part name="parameters" element="tns:getLoosers"/>
</message>
<message name="getLoosersResponse">
<part name="parameters" element="tns:getLoosersResponse"/>
</message>
<message name="getTop10">
<part name="parameters" element="tns:getTop10"/>
</message>
<message name="getTop10Response">
<part name="parameters" element="tns:getTop10Response"/>
</message>
<portType name="ApalWrapper">
<operation name="getPromos">
<input wsam:Action="http://apal.technical.jSeduite.modalis.i3s.unice.fr/ApalWrapper/getPromosRequest" message="tns:getPromos"/>
<output wsam:Action="http://apal.technical.jSeduite.modalis.i3s.unice.fr/ApalWrapper/getPromosResponse" message="tns:getPromosResponse"/>
</operation>
<operation name="getTopWithTreshold">
<input wsam:Action="http://apal.technical.jSeduite.modalis.i3s.unice.fr/ApalWrapper/getTopWithTresholdRequest" message="tns:getTopWithTreshold"/>
<output wsam:Action="http://apal.technical.jSeduite.modalis.i3s.unice.fr/ApalWrapper/getTopWithTresholdResponse" message="tns:getTopWithTresholdResponse"/>
</operation>
<operation name="getLoosers">
<input wsam:Action="http://apal.technical.jSeduite.modalis.i3s.unice.fr/ApalWrapper/getLoosersRequest" message="tns:getLoosers"/>
<output wsam:Action="http://apal.technical.jSeduite.modalis.i3s.unice.fr/ApalWrapper/getLoosersResponse" message="tns:getLoosersResponse"/>
</operation>
<operation name="getTop10">
<input wsam:Action="http://apal.technical.jSeduite.modalis.i3s.unice.fr/ApalWrapper/getTop10Request" message="tns:getTop10"/>
<output wsam:Action="http://apal.technical.jSeduite.modalis.i3s.unice.fr/ApalWrapper/getTop10Response" message="tns:getTop10Response"/>
</operation>
</portType>
<binding name="ApalWrapperPortBinding" type="tns:ApalWrapper">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getPromos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTopWithTreshold">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLoosers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTop10">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ApalWrapperService">
<port name="ApalWrapperPort" binding="tns:ApalWrapperPortBinding">
<soap:address location="http://localhost:8080/jSeduite/ApalWrapper/ApalWrapperService"/>
</port>
</service>
</definitions>