src/main/wsdl/BreakTimeFinderService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/" name="BreakTimeFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/SchoolLife/BreakTimeFinderService?xsd=1"/>
</xsd:schema>
</types>
<message name="getADateBreakTimesIds">
<part name="parameters" element="tns:getADateBreakTimesIds"/>
</message>
<message name="getADateBreakTimesIdsResponse">
<part name="parameters" element="tns:getADateBreakTimesIdsResponse"/>
</message>
<message name="BreakTimeException">
<part name="fault" element="tns:BreakTimeException"/>
</message>
<message name="getAllBuildings">
<part name="parameters" element="tns:getAllBuildings"/>
</message>
<message name="getAllBuildingsResponse">
<part name="parameters" element="tns:getAllBuildingsResponse"/>
</message>
<message name="findBreakTimeById">
<part name="parameters" element="tns:findBreakTimeById"/>
</message>
<message name="findBreakTimeByIdResponse">
<part name="parameters" element="tns:findBreakTimeByIdResponse"/>
</message>
<message name="getAllBreakTimeReferences">
<part name="parameters" element="tns:getAllBreakTimeReferences"/>
</message>
<message name="getAllBreakTimeReferencesResponse">
<part name="parameters" element="tns:getAllBreakTimeReferencesResponse"/>
</message>
<portType name="BreakTimeFinder">
<operation name="getADateBreakTimesIds">
<input wsam:Action="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/BreakTimeFinder/getADateBreakTimesIdsRequest" message="tns:getADateBreakTimesIds"/>
<output wsam:Action="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/BreakTimeFinder/getADateBreakTimesIdsResponse" message="tns:getADateBreakTimesIdsResponse"/>
<fault message="tns:BreakTimeException" name="BreakTimeException" wsam:Action="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/BreakTimeFinder/getADateBreakTimesIds/Fault/BreakTimeException"/>
</operation>
<operation name="getAllBuildings">
<input wsam:Action="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/BreakTimeFinder/getAllBuildingsRequest" message="tns:getAllBuildings"/>
<output wsam:Action="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/BreakTimeFinder/getAllBuildingsResponse" message="tns:getAllBuildingsResponse"/>
<fault message="tns:BreakTimeException" name="BreakTimeException" wsam:Action="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/BreakTimeFinder/getAllBuildings/Fault/BreakTimeException"/>
</operation>
<operation name="findBreakTimeById">
<input wsam:Action="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/BreakTimeFinder/findBreakTimeByIdRequest" message="tns:findBreakTimeById"/>
<output wsam:Action="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/BreakTimeFinder/findBreakTimeByIdResponse" message="tns:findBreakTimeByIdResponse"/>
<fault message="tns:BreakTimeException" name="BreakTimeException" wsam:Action="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/BreakTimeFinder/findBreakTimeById/Fault/BreakTimeException"/>
</operation>
<operation name="getAllBreakTimeReferences">
<input wsam:Action="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/BreakTimeFinder/getAllBreakTimeReferencesRequest" message="tns:getAllBreakTimeReferences"/>
<output wsam:Action="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/BreakTimeFinder/getAllBreakTimeReferencesResponse" message="tns:getAllBreakTimeReferencesResponse"/>
<fault message="tns:BreakTimeException" name="BreakTimeException" wsam:Action="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/BreakTimeFinder/getAllBreakTimeReferences/Fault/BreakTimeException"/>
</operation>
</portType>
<binding name="BreakTimeFinderPortBinding" type="tns:BreakTimeFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getADateBreakTimesIds">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BreakTimeException">
<soap:fault name="BreakTimeException" use="literal"/>
</fault>
</operation>
<operation name="getAllBuildings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BreakTimeException">
<soap:fault name="BreakTimeException" use="literal"/>
</fault>
</operation>
<operation name="findBreakTimeById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BreakTimeException">
<soap:fault name="BreakTimeException" use="literal"/>
</fault>
</operation>
<operation name="getAllBreakTimeReferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BreakTimeException">
<soap:fault name="BreakTimeException" use="literal"/>
</fault>
</operation>
</binding>
<service name="BreakTimeFinderService">
<port name="BreakTimeFinderPort" binding="tns:BreakTimeFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/SchoolLife/BreakTimeFinderService"/>
</port>
</service>
</definitions>