src/main/wsdl/BreakingNewsCRUDService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/" name="BreakingNewsCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/BreakingNews/BreakingNewsCRUDService?xsd=1"/>
</xsd:schema>
</types>
<message name="createBreakingNews">
<part name="parameters" element="tns:createBreakingNews"/>
</message>
<message name="createBreakingNewsResponse">
<part name="parameters" element="tns:createBreakingNewsResponse"/>
</message>
<message name="BreakingNewsException">
<part name="fault" element="tns:BreakingNewsException"/>
</message>
<message name="deleteBreakingNews">
<part name="parameters" element="tns:deleteBreakingNews"/>
</message>
<message name="deleteBreakingNewsResponse">
<part name="parameters" element="tns:deleteBreakingNewsResponse"/>
</message>
<message name="updateBreakingNews">
<part name="parameters" element="tns:updateBreakingNews"/>
</message>
<message name="updateBreakingNewsResponse">
<part name="parameters" element="tns:updateBreakingNewsResponse"/>
</message>
<message name="readBreakingNews">
<part name="parameters" element="tns:readBreakingNews"/>
</message>
<message name="readBreakingNewsResponse">
<part name="parameters" element="tns:readBreakingNewsResponse"/>
</message>
<portType name="BreakingNewsCRUD">
<operation name="createBreakingNews">
<input wsam:Action="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/BreakingNewsCRUD/createBreakingNewsRequest" message="tns:createBreakingNews"/>
<output wsam:Action="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/BreakingNewsCRUD/createBreakingNewsResponse" message="tns:createBreakingNewsResponse"/>
<fault message="tns:BreakingNewsException" name="BreakingNewsException" wsam:Action="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/BreakingNewsCRUD/createBreakingNews/Fault/BreakingNewsException"/>
</operation>
<operation name="deleteBreakingNews">
<input wsam:Action="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/BreakingNewsCRUD/deleteBreakingNewsRequest" message="tns:deleteBreakingNews"/>
<output wsam:Action="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/BreakingNewsCRUD/deleteBreakingNewsResponse" message="tns:deleteBreakingNewsResponse"/>
<fault message="tns:BreakingNewsException" name="BreakingNewsException" wsam:Action="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/BreakingNewsCRUD/deleteBreakingNews/Fault/BreakingNewsException"/>
</operation>
<operation name="updateBreakingNews">
<input wsam:Action="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/BreakingNewsCRUD/updateBreakingNewsRequest" message="tns:updateBreakingNews"/>
<output wsam:Action="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/BreakingNewsCRUD/updateBreakingNewsResponse" message="tns:updateBreakingNewsResponse"/>
<fault message="tns:BreakingNewsException" name="BreakingNewsException" wsam:Action="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/BreakingNewsCRUD/updateBreakingNews/Fault/BreakingNewsException"/>
</operation>
<operation name="readBreakingNews">
<input wsam:Action="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/BreakingNewsCRUD/readBreakingNewsRequest" message="tns:readBreakingNews"/>
<output wsam:Action="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/BreakingNewsCRUD/readBreakingNewsResponse" message="tns:readBreakingNewsResponse"/>
<fault message="tns:BreakingNewsException" name="BreakingNewsException" wsam:Action="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/BreakingNewsCRUD/readBreakingNews/Fault/BreakingNewsException"/>
</operation>
</portType>
<binding name="BreakingNewsCRUDPortBinding" type="tns:BreakingNewsCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createBreakingNews">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BreakingNewsException">
<soap:fault name="BreakingNewsException" use="literal"/>
</fault>
</operation>
<operation name="deleteBreakingNews">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BreakingNewsException">
<soap:fault name="BreakingNewsException" use="literal"/>
</fault>
</operation>
<operation name="updateBreakingNews">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BreakingNewsException">
<soap:fault name="BreakingNewsException" use="literal"/>
</fault>
</operation>
<operation name="readBreakingNews">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BreakingNewsException">
<soap:fault name="BreakingNewsException" use="literal"/>
</fault>
</operation>
</binding>
<service name="BreakingNewsCRUDService">
<port name="BreakingNewsCRUDPort" binding="tns:BreakingNewsCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/BreakingNews/BreakingNewsCRUDService"/>
</port>
</service>
</definitions>