src/main/wsdl/BreakingNewsFinderService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/" name="BreakingNewsFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/BreakingNews/BreakingNewsFinderService?xsd=1"/>
</xsd:schema>
</types>
<message name="findBreakNewById">
<part name="parameters" element="tns:findBreakNewById"/>
</message>
<message name="findBreakNewByIdResponse">
<part name="parameters" element="tns:findBreakNewByIdResponse"/>
</message>
<message name="BreakingNewsException">
<part name="fault" element="tns:BreakingNewsException"/>
</message>
<message name="getAllBreakingNewsReferences">
<part name="parameters" element="tns:getAllBreakingNewsReferences"/>
</message>
<message name="getAllBreakingNewsReferencesResponse">
<part name="parameters" element="tns:getAllBreakingNewsReferencesResponse"/>
</message>
<portType name="BreakingNewsFinder">
<operation name="findBreakNewById">
<input wsam:Action="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/BreakingNewsFinder/findBreakNewByIdRequest" message="tns:findBreakNewById"/>
<output wsam:Action="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/BreakingNewsFinder/findBreakNewByIdResponse" message="tns:findBreakNewByIdResponse"/>
<fault message="tns:BreakingNewsException" name="BreakingNewsException" wsam:Action="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/BreakingNewsFinder/findBreakNewById/Fault/BreakingNewsException"/>
</operation>
<operation name="getAllBreakingNewsReferences">
<input wsam:Action="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/BreakingNewsFinder/getAllBreakingNewsReferencesRequest" message="tns:getAllBreakingNewsReferences"/>
<output wsam:Action="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/BreakingNewsFinder/getAllBreakingNewsReferencesResponse" message="tns:getAllBreakingNewsReferencesResponse"/>
<fault message="tns:BreakingNewsException" name="BreakingNewsException" wsam:Action="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/BreakingNewsFinder/getAllBreakingNewsReferences/Fault/BreakingNewsException"/>
</operation>
</portType>
<binding name="BreakingNewsFinderPortBinding" type="tns:BreakingNewsFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findBreakNewById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BreakingNewsException">
<soap:fault name="BreakingNewsException" use="literal"/>
</fault>
</operation>
<operation name="getAllBreakingNewsReferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BreakingNewsException">
<soap:fault name="BreakingNewsException" use="literal"/>
</fault>
</operation>
</binding>
<service name="BreakingNewsFinderService">
<port name="BreakingNewsFinderPort" binding="tns:BreakingNewsFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/BreakingNews/BreakingNewsFinderService"/>
</port>
</service>
</definitions>