src/main/wsdl/BreakScreenFinderService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://breaks.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://breaks.technical.jSeduite.modalis.i3s.unice.fr/" name="BreakScreenFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://breaks.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/breakScreen/BreakScreenFinderService?xsd=1"/>
</xsd:schema>
</types>
<message name="findBreakScreenById">
<part name="parameters" element="tns:findBreakScreenById"/>
</message>
<message name="findBreakScreenByIdResponse">
<part name="parameters" element="tns:findBreakScreenByIdResponse"/>
</message>
<message name="BreakScreenException">
<part name="fault" element="tns:BreakScreenException"/>
</message>
<message name="getADateBreakScreensIds">
<part name="parameters" element="tns:getADateBreakScreensIds"/>
</message>
<message name="getADateBreakScreensIdsResponse">
<part name="parameters" element="tns:getADateBreakScreensIdsResponse"/>
</message>
<message name="getAllBreakScreenReferences">
<part name="parameters" element="tns:getAllBreakScreenReferences"/>
</message>
<message name="getAllBreakScreenReferencesResponse">
<part name="parameters" element="tns:getAllBreakScreenReferencesResponse"/>
</message>
<message name="getAllBuildings">
<part name="parameters" element="tns:getAllBuildings"/>
</message>
<message name="getAllBuildingsResponse">
<part name="parameters" element="tns:getAllBuildingsResponse"/>
</message>
<portType name="BreakScreenFinder">
<operation name="findBreakScreenById">
<input wsam:Action="http://breaks.technical.jSeduite.modalis.i3s.unice.fr/BreakScreenFinder/findBreakScreenByIdRequest" message="tns:findBreakScreenById"/>
<output wsam:Action="http://breaks.technical.jSeduite.modalis.i3s.unice.fr/BreakScreenFinder/findBreakScreenByIdResponse" message="tns:findBreakScreenByIdResponse"/>
<fault message="tns:BreakScreenException" name="BreakScreenException" wsam:Action="http://breaks.technical.jSeduite.modalis.i3s.unice.fr/BreakScreenFinder/findBreakScreenById/Fault/BreakScreenException"/>
</operation>
<operation name="getADateBreakScreensIds">
<input wsam:Action="http://breaks.technical.jSeduite.modalis.i3s.unice.fr/BreakScreenFinder/getADateBreakScreensIdsRequest" message="tns:getADateBreakScreensIds"/>
<output wsam:Action="http://breaks.technical.jSeduite.modalis.i3s.unice.fr/BreakScreenFinder/getADateBreakScreensIdsResponse" message="tns:getADateBreakScreensIdsResponse"/>
<fault message="tns:BreakScreenException" name="BreakScreenException" wsam:Action="http://breaks.technical.jSeduite.modalis.i3s.unice.fr/BreakScreenFinder/getADateBreakScreensIds/Fault/BreakScreenException"/>
</operation>
<operation name="getAllBreakScreenReferences">
<input wsam:Action="http://breaks.technical.jSeduite.modalis.i3s.unice.fr/BreakScreenFinder/getAllBreakScreenReferencesRequest" message="tns:getAllBreakScreenReferences"/>
<output wsam:Action="http://breaks.technical.jSeduite.modalis.i3s.unice.fr/BreakScreenFinder/getAllBreakScreenReferencesResponse" message="tns:getAllBreakScreenReferencesResponse"/>
<fault message="tns:BreakScreenException" name="BreakScreenException" wsam:Action="http://breaks.technical.jSeduite.modalis.i3s.unice.fr/BreakScreenFinder/getAllBreakScreenReferences/Fault/BreakScreenException"/>
</operation>
<operation name="getAllBuildings">
<input wsam:Action="http://breaks.technical.jSeduite.modalis.i3s.unice.fr/BreakScreenFinder/getAllBuildingsRequest" message="tns:getAllBuildings"/>
<output wsam:Action="http://breaks.technical.jSeduite.modalis.i3s.unice.fr/BreakScreenFinder/getAllBuildingsResponse" message="tns:getAllBuildingsResponse"/>
<fault message="tns:BreakScreenException" name="BreakScreenException" wsam:Action="http://breaks.technical.jSeduite.modalis.i3s.unice.fr/BreakScreenFinder/getAllBuildings/Fault/BreakScreenException"/>
</operation>
</portType>
<binding name="BreakScreenFinderPortBinding" type="tns:BreakScreenFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findBreakScreenById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BreakScreenException">
<soap:fault name="BreakScreenException" use="literal"/>
</fault>
</operation>
<operation name="getADateBreakScreensIds">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BreakScreenException">
<soap:fault name="BreakScreenException" use="literal"/>
</fault>
</operation>
<operation name="getAllBreakScreenReferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BreakScreenException">
<soap:fault name="BreakScreenException" use="literal"/>
</fault>
</operation>
<operation name="getAllBuildings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BreakScreenException">
<soap:fault name="BreakScreenException" use="literal"/>
</fault>
</operation>
</binding>
<service name="BreakScreenFinderService">
<port name="BreakScreenFinderPort" binding="tns:BreakScreenFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/breakScreen/BreakScreenFinderService"/>
</port>
</service>
</definitions>