src/main/wsdl/BreakTimeCRUDService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/" name="BreakTimeCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/SchoolLife/BreakTimeCRUDService?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteBreakTime">
<part name="parameters" element="tns:deleteBreakTime"/>
</message>
<message name="deleteBreakTimeResponse">
<part name="parameters" element="tns:deleteBreakTimeResponse"/>
</message>
<message name="BreakTimeException">
<part name="fault" element="tns:BreakTimeException"/>
</message>
<message name="readBreakTime">
<part name="parameters" element="tns:readBreakTime"/>
</message>
<message name="readBreakTimeResponse">
<part name="parameters" element="tns:readBreakTimeResponse"/>
</message>
<message name="updateBreakTime">
<part name="parameters" element="tns:updateBreakTime"/>
</message>
<message name="updateBreakTimeResponse">
<part name="parameters" element="tns:updateBreakTimeResponse"/>
</message>
<message name="createBreakTime">
<part name="parameters" element="tns:createBreakTime"/>
</message>
<message name="createBreakTimeResponse">
<part name="parameters" element="tns:createBreakTimeResponse"/>
</message>
<portType name="BreakTimeCRUD">
<operation name="deleteBreakTime">
<input wsam:Action="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/BreakTimeCRUD/deleteBreakTimeRequest" message="tns:deleteBreakTime"/>
<output wsam:Action="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/BreakTimeCRUD/deleteBreakTimeResponse" message="tns:deleteBreakTimeResponse"/>
<fault message="tns:BreakTimeException" name="BreakTimeException" wsam:Action="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/BreakTimeCRUD/deleteBreakTime/Fault/BreakTimeException"/>
</operation>
<operation name="readBreakTime">
<input wsam:Action="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/BreakTimeCRUD/readBreakTimeRequest" message="tns:readBreakTime"/>
<output wsam:Action="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/BreakTimeCRUD/readBreakTimeResponse" message="tns:readBreakTimeResponse"/>
<fault message="tns:BreakTimeException" name="BreakTimeException" wsam:Action="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/BreakTimeCRUD/readBreakTime/Fault/BreakTimeException"/>
</operation>
<operation name="updateBreakTime">
<input wsam:Action="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/BreakTimeCRUD/updateBreakTimeRequest" message="tns:updateBreakTime"/>
<output wsam:Action="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/BreakTimeCRUD/updateBreakTimeResponse" message="tns:updateBreakTimeResponse"/>
<fault message="tns:BreakTimeException" name="BreakTimeException" wsam:Action="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/BreakTimeCRUD/updateBreakTime/Fault/BreakTimeException"/>
</operation>
<operation name="createBreakTime">
<input wsam:Action="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/BreakTimeCRUD/createBreakTimeRequest" message="tns:createBreakTime"/>
<output wsam:Action="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/BreakTimeCRUD/createBreakTimeResponse" message="tns:createBreakTimeResponse"/>
<fault message="tns:BreakTimeException" name="BreakTimeException" wsam:Action="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/BreakTimeCRUD/createBreakTime/Fault/BreakTimeException"/>
</operation>
</portType>
<binding name="BreakTimeCRUDPortBinding" type="tns:BreakTimeCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteBreakTime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BreakTimeException">
<soap:fault name="BreakTimeException" use="literal"/>
</fault>
</operation>
<operation name="readBreakTime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BreakTimeException">
<soap:fault name="BreakTimeException" use="literal"/>
</fault>
</operation>
<operation name="updateBreakTime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BreakTimeException">
<soap:fault name="BreakTimeException" use="literal"/>
</fault>
</operation>
<operation name="createBreakTime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BreakTimeException">
<soap:fault name="BreakTimeException" use="literal"/>
</fault>
</operation>
</binding>
<service name="BreakTimeCRUDService">
<port name="BreakTimeCRUDPort" binding="tns:BreakTimeCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/SchoolLife/BreakTimeCRUDService"/>
</port>
</service>
</definitions>