src/main/wsdl/CourseCRUDService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" name="CourseCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/MenuService/CourseCRUDService?xsd=1"/>
</xsd:schema>
</types>
<message name="createCourse">
<part name="parameters" element="tns:createCourse"/>
</message>
<message name="createCourseResponse">
<part name="parameters" element="tns:createCourseResponse"/>
</message>
<message name="RestaurantException">
<part name="fault" element="tns:RestaurantException"/>
</message>
<message name="deleteCourse">
<part name="parameters" element="tns:deleteCourse"/>
</message>
<message name="deleteCourseResponse">
<part name="parameters" element="tns:deleteCourseResponse"/>
</message>
<message name="readCourse">
<part name="parameters" element="tns:readCourse"/>
</message>
<message name="readCourseResponse">
<part name="parameters" element="tns:readCourseResponse"/>
</message>
<message name="updateCourse">
<part name="parameters" element="tns:updateCourse"/>
</message>
<message name="updateCourseResponse">
<part name="parameters" element="tns:updateCourseResponse"/>
</message>
<portType name="CourseCRUD">
<operation name="createCourse">
<input wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/CourseCRUD/createCourseRequest" message="tns:createCourse"/>
<output wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/CourseCRUD/createCourseResponse" message="tns:createCourseResponse"/>
<fault message="tns:RestaurantException" name="RestaurantException" wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/CourseCRUD/createCourse/Fault/RestaurantException"/>
</operation>
<operation name="deleteCourse">
<input wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/CourseCRUD/deleteCourseRequest" message="tns:deleteCourse"/>
<output wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/CourseCRUD/deleteCourseResponse" message="tns:deleteCourseResponse"/>
<fault message="tns:RestaurantException" name="RestaurantException" wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/CourseCRUD/deleteCourse/Fault/RestaurantException"/>
</operation>
<operation name="readCourse">
<input wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/CourseCRUD/readCourseRequest" message="tns:readCourse"/>
<output wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/CourseCRUD/readCourseResponse" message="tns:readCourseResponse"/>
<fault message="tns:RestaurantException" name="RestaurantException" wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/CourseCRUD/readCourse/Fault/RestaurantException"/>
</operation>
<operation name="updateCourse">
<input wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/CourseCRUD/updateCourseRequest" message="tns:updateCourse"/>
<output wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/CourseCRUD/updateCourseResponse" message="tns:updateCourseResponse"/>
<fault message="tns:RestaurantException" name="RestaurantException" wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/CourseCRUD/updateCourse/Fault/RestaurantException"/>
</operation>
</portType>
<binding name="CourseCRUDPortBinding" type="tns:CourseCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createCourse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RestaurantException">
<soap:fault name="RestaurantException" use="literal"/>
</fault>
</operation>
<operation name="deleteCourse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RestaurantException">
<soap:fault name="RestaurantException" use="literal"/>
</fault>
</operation>
<operation name="readCourse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RestaurantException">
<soap:fault name="RestaurantException" use="literal"/>
</fault>
</operation>
<operation name="updateCourse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RestaurantException">
<soap:fault name="RestaurantException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CourseCRUDService">
<port name="CourseCRUDPort" binding="tns:CourseCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/MenuService/CourseCRUDService"/>
</port>
</service>
</definitions>