src/main/wsdl/CourseFinderService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" name="CourseFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/MenuService/CourseFinderService?xsd=1"/>
</xsd:schema>
</types>
<message name="findCoursesByKind">
<part name="parameters" element="tns:findCoursesByKind"/>
</message>
<message name="findCoursesByKindResponse">
<part name="parameters" element="tns:findCoursesByKindResponse"/>
</message>
<message name="RestaurantException">
<part name="fault" element="tns:RestaurantException"/>
</message>
<message name="findCourseById">
<part name="parameters" element="tns:findCourseById"/>
</message>
<message name="findCourseByIdResponse">
<part name="parameters" element="tns:findCourseByIdResponse"/>
</message>
<message name="findCourseByName">
<part name="parameters" element="tns:findCourseByName"/>
</message>
<message name="findCourseByNameResponse">
<part name="parameters" element="tns:findCourseByNameResponse"/>
</message>
<message name="getAllCoursesReferences">
<part name="parameters" element="tns:getAllCoursesReferences"/>
</message>
<message name="getAllCoursesReferencesResponse">
<part name="parameters" element="tns:getAllCoursesReferencesResponse"/>
</message>
<portType name="CourseFinder">
<operation name="findCoursesByKind">
<input wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/CourseFinder/findCoursesByKindRequest" message="tns:findCoursesByKind"/>
<output wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/CourseFinder/findCoursesByKindResponse" message="tns:findCoursesByKindResponse"/>
<fault message="tns:RestaurantException" name="RestaurantException" wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/CourseFinder/findCoursesByKind/Fault/RestaurantException"/>
</operation>
<operation name="findCourseById">
<input wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/CourseFinder/findCourseByIdRequest" message="tns:findCourseById"/>
<output wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/CourseFinder/findCourseByIdResponse" message="tns:findCourseByIdResponse"/>
<fault message="tns:RestaurantException" name="RestaurantException" wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/CourseFinder/findCourseById/Fault/RestaurantException"/>
</operation>
<operation name="findCourseByName">
<input wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/CourseFinder/findCourseByNameRequest" message="tns:findCourseByName"/>
<output wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/CourseFinder/findCourseByNameResponse" message="tns:findCourseByNameResponse"/>
<fault message="tns:RestaurantException" name="RestaurantException" wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/CourseFinder/findCourseByName/Fault/RestaurantException"/>
</operation>
<operation name="getAllCoursesReferences">
<input wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/CourseFinder/getAllCoursesReferencesRequest" message="tns:getAllCoursesReferences"/>
<output wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/CourseFinder/getAllCoursesReferencesResponse" message="tns:getAllCoursesReferencesResponse"/>
<fault message="tns:RestaurantException" name="RestaurantException" wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/CourseFinder/getAllCoursesReferences/Fault/RestaurantException"/>
</operation>
</portType>
<binding name="CourseFinderPortBinding" type="tns:CourseFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findCoursesByKind">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RestaurantException">
<soap:fault name="RestaurantException" use="literal"/>
</fault>
</operation>
<operation name="findCourseById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RestaurantException">
<soap:fault name="RestaurantException" use="literal"/>
</fault>
</operation>
<operation name="findCourseByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RestaurantException">
<soap:fault name="RestaurantException" use="literal"/>
</fault>
</operation>
<operation name="getAllCoursesReferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RestaurantException">
<soap:fault name="RestaurantException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CourseFinderService">
<port name="CourseFinderPort" binding="tns:CourseFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/MenuService/CourseFinderService"/>
</port>
</service>
</definitions>