src/main/wsdl/DataCacheService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cache.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cache.technical.jSeduite.modalis.i3s.unice.fr/" name="DataCacheService">
<types>
<xsd:schema>
<xsd:import namespace="http://cache.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/DataCache/DataCacheService?xsd=1"/>
</xsd:schema>
</types>
<message name="initContent">
<part name="parameters" element="tns:initContent"/>
</message>
<message name="initContentResponse">
<part name="parameters" element="tns:initContentResponse"/>
</message>
<message name="DataCacheException">
<part name="fault" element="tns:DataCacheException"/>
</message>
<message name="setContent">
<part name="parameters" element="tns:setContent"/>
</message>
<message name="setContentResponse">
<part name="parameters" element="tns:setContentResponse"/>
</message>
<message name="isValid">
<part name="parameters" element="tns:isValid"/>
</message>
<message name="isValidResponse">
<part name="parameters" element="tns:isValidResponse"/>
</message>
<message name="getContent">
<part name="parameters" element="tns:getContent"/>
</message>
<message name="getContentResponse">
<part name="parameters" element="tns:getContentResponse"/>
</message>
<portType name="DataCache">
<operation name="initContent">
<input wsam:Action="http://cache.technical.jSeduite.modalis.i3s.unice.fr/DataCache/initContentRequest" message="tns:initContent"/>
<output wsam:Action="http://cache.technical.jSeduite.modalis.i3s.unice.fr/DataCache/initContentResponse" message="tns:initContentResponse"/>
<fault message="tns:DataCacheException" name="DataCacheException" wsam:Action="http://cache.technical.jSeduite.modalis.i3s.unice.fr/DataCache/initContent/Fault/DataCacheException"/>
</operation>
<operation name="setContent">
<input wsam:Action="http://cache.technical.jSeduite.modalis.i3s.unice.fr/DataCache/setContentRequest" message="tns:setContent"/>
<output wsam:Action="http://cache.technical.jSeduite.modalis.i3s.unice.fr/DataCache/setContentResponse" message="tns:setContentResponse"/>
<fault message="tns:DataCacheException" name="DataCacheException" wsam:Action="http://cache.technical.jSeduite.modalis.i3s.unice.fr/DataCache/setContent/Fault/DataCacheException"/>
</operation>
<operation name="isValid">
<input wsam:Action="http://cache.technical.jSeduite.modalis.i3s.unice.fr/DataCache/isValidRequest" message="tns:isValid"/>
<output wsam:Action="http://cache.technical.jSeduite.modalis.i3s.unice.fr/DataCache/isValidResponse" message="tns:isValidResponse"/>
<fault message="tns:DataCacheException" name="DataCacheException" wsam:Action="http://cache.technical.jSeduite.modalis.i3s.unice.fr/DataCache/isValid/Fault/DataCacheException"/>
</operation>
<operation name="getContent">
<input wsam:Action="http://cache.technical.jSeduite.modalis.i3s.unice.fr/DataCache/getContentRequest" message="tns:getContent"/>
<output wsam:Action="http://cache.technical.jSeduite.modalis.i3s.unice.fr/DataCache/getContentResponse" message="tns:getContentResponse"/>
<fault message="tns:DataCacheException" name="DataCacheException" wsam:Action="http://cache.technical.jSeduite.modalis.i3s.unice.fr/DataCache/getContent/Fault/DataCacheException"/>
</operation>
</portType>
<binding name="DataCachePortBinding" type="tns:DataCache">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="initContent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DataCacheException">
<soap:fault name="DataCacheException" use="literal"/>
</fault>
</operation>
<operation name="setContent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DataCacheException">
<soap:fault name="DataCacheException" use="literal"/>
</fault>
</operation>
<operation name="isValid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DataCacheException">
<soap:fault name="DataCacheException" use="literal"/>
</fault>
</operation>
<operation name="getContent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DataCacheException">
<soap:fault name="DataCacheException" use="literal"/>
</fault>
</operation>
</binding>
<service name="DataCacheService">
<port name="DataCachePort" binding="tns:DataCachePortBinding">
<soap:address location="http://localhost:8080/jSeduite/DataCache/DataCacheService"/>
</port>
</service>
</definitions>