src/main/wsdl/DeviceCRUDService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/" name="DeviceCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/ProfileManager/DeviceCRUDService?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteDevice">
<part name="parameters" element="tns:deleteDevice"/>
</message>
<message name="deleteDeviceResponse">
<part name="parameters" element="tns:deleteDeviceResponse"/>
</message>
<message name="DeviceException">
<part name="fault" element="tns:DeviceException"/>
</message>
<message name="updateDevice">
<part name="parameters" element="tns:updateDevice"/>
</message>
<message name="updateDeviceResponse">
<part name="parameters" element="tns:updateDeviceResponse"/>
</message>
<message name="createDevice">
<part name="parameters" element="tns:createDevice"/>
</message>
<message name="createDeviceResponse">
<part name="parameters" element="tns:createDeviceResponse"/>
</message>
<message name="readDevice">
<part name="parameters" element="tns:readDevice"/>
</message>
<message name="readDeviceResponse">
<part name="parameters" element="tns:readDeviceResponse"/>
</message>
<portType name="DeviceCRUD">
<operation name="deleteDevice">
<input wsam:Action="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/DeviceCRUD/deleteDeviceRequest" message="tns:deleteDevice"/>
<output wsam:Action="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/DeviceCRUD/deleteDeviceResponse" message="tns:deleteDeviceResponse"/>
<fault message="tns:DeviceException" name="DeviceException" wsam:Action="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/DeviceCRUD/deleteDevice/Fault/DeviceException"/>
</operation>
<operation name="updateDevice">
<input wsam:Action="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/DeviceCRUD/updateDeviceRequest" message="tns:updateDevice"/>
<output wsam:Action="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/DeviceCRUD/updateDeviceResponse" message="tns:updateDeviceResponse"/>
<fault message="tns:DeviceException" name="DeviceException" wsam:Action="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/DeviceCRUD/updateDevice/Fault/DeviceException"/>
</operation>
<operation name="createDevice">
<input wsam:Action="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/DeviceCRUD/createDeviceRequest" message="tns:createDevice"/>
<output wsam:Action="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/DeviceCRUD/createDeviceResponse" message="tns:createDeviceResponse"/>
<fault message="tns:DeviceException" name="DeviceException" wsam:Action="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/DeviceCRUD/createDevice/Fault/DeviceException"/>
</operation>
<operation name="readDevice">
<input wsam:Action="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/DeviceCRUD/readDeviceRequest" message="tns:readDevice"/>
<output wsam:Action="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/DeviceCRUD/readDeviceResponse" message="tns:readDeviceResponse"/>
<fault message="tns:DeviceException" name="DeviceException" wsam:Action="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/DeviceCRUD/readDevice/Fault/DeviceException"/>
</operation>
</portType>
<binding name="DeviceCRUDPortBinding" type="tns:DeviceCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteDevice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DeviceException">
<soap:fault name="DeviceException" use="literal"/>
</fault>
</operation>
<operation name="updateDevice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DeviceException">
<soap:fault name="DeviceException" use="literal"/>
</fault>
</operation>
<operation name="createDevice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DeviceException">
<soap:fault name="DeviceException" use="literal"/>
</fault>
</operation>
<operation name="readDevice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DeviceException">
<soap:fault name="DeviceException" use="literal"/>
</fault>
</operation>
</binding>
<service name="DeviceCRUDService">
<port name="DeviceCRUDPort" binding="tns:DeviceCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/ProfileManager/DeviceCRUDService"/>
</port>
</service>
</definitions>