src/main/wsdl/DeviceFinderService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/" name="DeviceFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/ProfileManager/DeviceFinderService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllDeviceReferences">
<part name="parameters" element="tns:getAllDeviceReferences"/>
</message>
<message name="getAllDeviceReferencesResponse">
<part name="parameters" element="tns:getAllDeviceReferencesResponse"/>
</message>
<message name="DeviceException">
<part name="fault" element="tns:DeviceException"/>
</message>
<message name="findDeviceByName">
<part name="parameters" element="tns:findDeviceByName"/>
</message>
<message name="findDeviceByNameResponse">
<part name="parameters" element="tns:findDeviceByNameResponse"/>
</message>
<portType name="DeviceFinder">
<operation name="getAllDeviceReferences">
<input wsam:Action="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/DeviceFinder/getAllDeviceReferencesRequest" message="tns:getAllDeviceReferences"/>
<output wsam:Action="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/DeviceFinder/getAllDeviceReferencesResponse" message="tns:getAllDeviceReferencesResponse"/>
<fault message="tns:DeviceException" name="DeviceException" wsam:Action="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/DeviceFinder/getAllDeviceReferences/Fault/DeviceException"/>
</operation>
<operation name="findDeviceByName">
<input wsam:Action="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/DeviceFinder/findDeviceByNameRequest" message="tns:findDeviceByName"/>
<output wsam:Action="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/DeviceFinder/findDeviceByNameResponse" message="tns:findDeviceByNameResponse"/>
<fault message="tns:DeviceException" name="DeviceException" wsam:Action="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/DeviceFinder/findDeviceByName/Fault/DeviceException"/>
</operation>
</portType>
<binding name="DeviceFinderPortBinding" type="tns:DeviceFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllDeviceReferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DeviceException">
<soap:fault name="DeviceException" use="literal"/>
</fault>
</operation>
<operation name="findDeviceByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DeviceException">
<soap:fault name="DeviceException" use="literal"/>
</fault>
</operation>
</binding>
<service name="DeviceFinderService">
<port name="DeviceFinderPort" binding="tns:DeviceFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/ProfileManager/DeviceFinderService"/>
</port>
</service>
</definitions>