src/main/wsdl/FeedRegistryService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" name="FeedRegistryService">
<types>
<xsd:schema>
<xsd:import namespace="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/FeedRegistry/FeedRegistryService?xsd=1"/>
</xsd:schema>
</types>
<message name="getNicknames">
<part name="parameters" element="tns:getNicknames"/>
</message>
<message name="getNicknamesResponse">
<part name="parameters" element="tns:getNicknamesResponse"/>
</message>
<message name="FeedRegistryException">
<part name="fault" element="tns:FeedRegistryException"/>
</message>
<message name="getCategories">
<part name="parameters" element="tns:getCategories"/>
</message>
<message name="getCategoriesResponse">
<part name="parameters" element="tns:getCategoriesResponse"/>
</message>
<message name="getURL">
<part name="parameters" element="tns:getURL"/>
</message>
<message name="getURLResponse">
<part name="parameters" element="tns:getURLResponse"/>
</message>
<portType name="FeedRegistry">
<operation name="getNicknames">
<input wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedRegistry/getNicknamesRequest" message="tns:getNicknames"/>
<output wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedRegistry/getNicknamesResponse" message="tns:getNicknamesResponse"/>
<fault message="tns:FeedRegistryException" name="FeedRegistryException" wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedRegistry/getNicknames/Fault/FeedRegistryException"/>
</operation>
<operation name="getCategories">
<input wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedRegistry/getCategoriesRequest" message="tns:getCategories"/>
<output wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedRegistry/getCategoriesResponse" message="tns:getCategoriesResponse"/>
<fault message="tns:FeedRegistryException" name="FeedRegistryException" wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedRegistry/getCategories/Fault/FeedRegistryException"/>
</operation>
<operation name="getURL">
<input wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedRegistry/getURLRequest" message="tns:getURL"/>
<output wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedRegistry/getURLResponse" message="tns:getURLResponse"/>
<fault message="tns:FeedRegistryException" name="FeedRegistryException" wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedRegistry/getURL/Fault/FeedRegistryException"/>
</operation>
</portType>
<binding name="FeedRegistryPortBinding" type="tns:FeedRegistry">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getNicknames">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FeedRegistryException">
<soap:fault name="FeedRegistryException" use="literal"/>
</fault>
</operation>
<operation name="getCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FeedRegistryException">
<soap:fault name="FeedRegistryException" use="literal"/>
</fault>
</operation>
<operation name="getURL">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FeedRegistryException">
<soap:fault name="FeedRegistryException" use="literal"/>
</fault>
</operation>
</binding>
<service name="FeedRegistryService">
<port name="FeedRegistryPort" binding="tns:FeedRegistryPortBinding">
<soap:address location="http://localhost:8080/jSeduite/FeedRegistry/FeedRegistryService"/>
</port>
</service>
</definitions>