src/main/wsdl/FeedFinderService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" name="FeedFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/FeedRegistry/FeedFinderService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllFeeds">
<part name="parameters" element="tns:getAllFeeds"/>
</message>
<message name="getAllFeedsResponse">
<part name="parameters" element="tns:getAllFeedsResponse"/>
</message>
<message name="FeedRegistryException">
<part name="fault" element="tns:FeedRegistryException"/>
</message>
<message name="findFeedById">
<part name="parameters" element="tns:findFeedById"/>
</message>
<message name="findFeedByIdResponse">
<part name="parameters" element="tns:findFeedByIdResponse"/>
</message>
<portType name="FeedFinder">
<operation name="getAllFeeds">
<input wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedFinder/getAllFeedsRequest" message="tns:getAllFeeds"/>
<output wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedFinder/getAllFeedsResponse" message="tns:getAllFeedsResponse"/>
<fault message="tns:FeedRegistryException" name="FeedRegistryException" wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedFinder/getAllFeeds/Fault/FeedRegistryException"/>
</operation>
<operation name="findFeedById">
<input wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedFinder/findFeedByIdRequest" message="tns:findFeedById"/>
<output wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedFinder/findFeedByIdResponse" message="tns:findFeedByIdResponse"/>
<fault message="tns:FeedRegistryException" name="FeedRegistryException" wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedFinder/findFeedById/Fault/FeedRegistryException"/>
</operation>
</portType>
<binding name="FeedFinderPortBinding" type="tns:FeedFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllFeeds">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FeedRegistryException">
<soap:fault name="FeedRegistryException" use="literal"/>
</fault>
</operation>
<operation name="findFeedById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FeedRegistryException">
<soap:fault name="FeedRegistryException" use="literal"/>
</fault>
</operation>
</binding>
<service name="FeedFinderService">
<port name="FeedFinderPort" binding="tns:FeedFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/FeedRegistry/FeedFinderService"/>
</port>
</service>
</definitions>