src/main/wsdl/FeedClassCRUDService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" name="FeedClassCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/FeedRegistry/FeedClassCRUDService?xsd=1"/>
</xsd:schema>
</types>
<message name="readFeedClass">
<part name="parameters" element="tns:readFeedClass"/>
</message>
<message name="readFeedClassResponse">
<part name="parameters" element="tns:readFeedClassResponse"/>
</message>
<message name="FeedRegistryException">
<part name="fault" element="tns:FeedRegistryException"/>
</message>
<message name="updateFeedClass">
<part name="parameters" element="tns:updateFeedClass"/>
</message>
<message name="updateFeedClassResponse">
<part name="parameters" element="tns:updateFeedClassResponse"/>
</message>
<message name="deleteFeedClass">
<part name="parameters" element="tns:deleteFeedClass"/>
</message>
<message name="deleteFeedClassResponse">
<part name="parameters" element="tns:deleteFeedClassResponse"/>
</message>
<message name="createFeedClass">
<part name="parameters" element="tns:createFeedClass"/>
</message>
<message name="createFeedClassResponse">
<part name="parameters" element="tns:createFeedClassResponse"/>
</message>
<portType name="FeedClassCRUD">
<operation name="readFeedClass">
<input wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedClassCRUD/readFeedClassRequest" message="tns:readFeedClass"/>
<output wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedClassCRUD/readFeedClassResponse" message="tns:readFeedClassResponse"/>
<fault message="tns:FeedRegistryException" name="FeedRegistryException" wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedClassCRUD/readFeedClass/Fault/FeedRegistryException"/>
</operation>
<operation name="updateFeedClass">
<input wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedClassCRUD/updateFeedClassRequest" message="tns:updateFeedClass"/>
<output wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedClassCRUD/updateFeedClassResponse" message="tns:updateFeedClassResponse"/>
<fault message="tns:FeedRegistryException" name="FeedRegistryException" wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedClassCRUD/updateFeedClass/Fault/FeedRegistryException"/>
</operation>
<operation name="deleteFeedClass">
<input wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedClassCRUD/deleteFeedClassRequest" message="tns:deleteFeedClass"/>
<output wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedClassCRUD/deleteFeedClassResponse" message="tns:deleteFeedClassResponse"/>
<fault message="tns:FeedRegistryException" name="FeedRegistryException" wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedClassCRUD/deleteFeedClass/Fault/FeedRegistryException"/>
</operation>
<operation name="createFeedClass">
<input wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedClassCRUD/createFeedClassRequest" message="tns:createFeedClass"/>
<output wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedClassCRUD/createFeedClassResponse" message="tns:createFeedClassResponse"/>
<fault message="tns:FeedRegistryException" name="FeedRegistryException" wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedClassCRUD/createFeedClass/Fault/FeedRegistryException"/>
</operation>
</portType>
<binding name="FeedClassCRUDPortBinding" type="tns:FeedClassCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="readFeedClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FeedRegistryException">
<soap:fault name="FeedRegistryException" use="literal"/>
</fault>
</operation>
<operation name="updateFeedClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FeedRegistryException">
<soap:fault name="FeedRegistryException" use="literal"/>
</fault>
</operation>
<operation name="deleteFeedClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FeedRegistryException">
<soap:fault name="FeedRegistryException" use="literal"/>
</fault>
</operation>
<operation name="createFeedClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FeedRegistryException">
<soap:fault name="FeedRegistryException" use="literal"/>
</fault>
</operation>
</binding>
<service name="FeedClassCRUDService">
<port name="FeedClassCRUDPort" binding="tns:FeedClassCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/FeedRegistry/FeedClassCRUDService"/>
</port>
</service>
</definitions>