src/main/wsdl/FeedClassFinderService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" name="FeedClassFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/FeedRegistry/FeedClassFinderService?xsd=1"/>
</xsd:schema>
</types>
<message name="findFeedClassById">
<part name="parameters" element="tns:findFeedClassById"/>
</message>
<message name="findFeedClassByIdResponse">
<part name="parameters" element="tns:findFeedClassByIdResponse"/>
</message>
<message name="FeedRegistryException">
<part name="fault" element="tns:FeedRegistryException"/>
</message>
<message name="getAllFeedClassReferences">
<part name="parameters" element="tns:getAllFeedClassReferences"/>
</message>
<message name="getAllFeedClassReferencesResponse">
<part name="parameters" element="tns:getAllFeedClassReferencesResponse"/>
</message>
<portType name="FeedClassFinder">
<operation name="findFeedClassById">
<input wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedClassFinder/findFeedClassByIdRequest" message="tns:findFeedClassById"/>
<output wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedClassFinder/findFeedClassByIdResponse" message="tns:findFeedClassByIdResponse"/>
<fault message="tns:FeedRegistryException" name="FeedRegistryException" wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedClassFinder/findFeedClassById/Fault/FeedRegistryException"/>
</operation>
<operation name="getAllFeedClassReferences">
<input wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedClassFinder/getAllFeedClassReferencesRequest" message="tns:getAllFeedClassReferences"/>
<output wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedClassFinder/getAllFeedClassReferencesResponse" message="tns:getAllFeedClassReferencesResponse"/>
<fault message="tns:FeedRegistryException" name="FeedRegistryException" wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedClassFinder/getAllFeedClassReferences/Fault/FeedRegistryException"/>
</operation>
</portType>
<binding name="FeedClassFinderPortBinding" type="tns:FeedClassFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findFeedClassById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FeedRegistryException">
<soap:fault name="FeedRegistryException" use="literal"/>
</fault>
</operation>
<operation name="getAllFeedClassReferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FeedRegistryException">
<soap:fault name="FeedRegistryException" use="literal"/>
</fault>
</operation>
</binding>
<service name="FeedClassFinderService">
<port name="FeedClassFinderPort" binding="tns:FeedClassFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/FeedRegistry/FeedClassFinderService"/>
</port>
</service>
</definitions>