src/main/wsdl/FeedCRUDService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" name="FeedCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/FeedRegistry/FeedCRUDService?xsd=1"/>
</xsd:schema>
</types>
<message name="readFeed">
<part name="parameters" element="tns:readFeed"/>
</message>
<message name="readFeedResponse">
<part name="parameters" element="tns:readFeedResponse"/>
</message>
<message name="FeedRegistryException">
<part name="fault" element="tns:FeedRegistryException"/>
</message>
<message name="updateFeed">
<part name="parameters" element="tns:updateFeed"/>
</message>
<message name="updateFeedResponse">
<part name="parameters" element="tns:updateFeedResponse"/>
</message>
<message name="deleteFeed">
<part name="parameters" element="tns:deleteFeed"/>
</message>
<message name="deleteFeedResponse">
<part name="parameters" element="tns:deleteFeedResponse"/>
</message>
<message name="createFeed">
<part name="parameters" element="tns:createFeed"/>
</message>
<message name="createFeedResponse">
<part name="parameters" element="tns:createFeedResponse"/>
</message>
<portType name="FeedCRUD">
<operation name="readFeed">
<input wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedCRUD/readFeedRequest" message="tns:readFeed"/>
<output wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedCRUD/readFeedResponse" message="tns:readFeedResponse"/>
<fault message="tns:FeedRegistryException" name="FeedRegistryException" wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedCRUD/readFeed/Fault/FeedRegistryException"/>
</operation>
<operation name="updateFeed">
<input wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedCRUD/updateFeedRequest" message="tns:updateFeed"/>
<output wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedCRUD/updateFeedResponse" message="tns:updateFeedResponse"/>
<fault message="tns:FeedRegistryException" name="FeedRegistryException" wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedCRUD/updateFeed/Fault/FeedRegistryException"/>
</operation>
<operation name="deleteFeed">
<input wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedCRUD/deleteFeedRequest" message="tns:deleteFeed"/>
<output wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedCRUD/deleteFeedResponse" message="tns:deleteFeedResponse"/>
<fault message="tns:FeedRegistryException" name="FeedRegistryException" wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedCRUD/deleteFeed/Fault/FeedRegistryException"/>
</operation>
<operation name="createFeed">
<input wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedCRUD/createFeedRequest" message="tns:createFeed"/>
<output wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedCRUD/createFeedResponse" message="tns:createFeedResponse"/>
<fault message="tns:FeedRegistryException" name="FeedRegistryException" wsam:Action="http://registry.technical.jSeduite.modalis.i3s.unice.fr/FeedCRUD/createFeed/Fault/FeedRegistryException"/>
</operation>
</portType>
<binding name="FeedCRUDPortBinding" type="tns:FeedCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="readFeed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FeedRegistryException">
<soap:fault name="FeedRegistryException" use="literal"/>
</fault>
</operation>
<operation name="updateFeed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FeedRegistryException">
<soap:fault name="FeedRegistryException" use="literal"/>
</fault>
</operation>
<operation name="deleteFeed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FeedRegistryException">
<soap:fault name="FeedRegistryException" use="literal"/>
</fault>
</operation>
<operation name="createFeed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FeedRegistryException">
<soap:fault name="FeedRegistryException" use="literal"/>
</fault>
</operation>
</binding>
<service name="FeedCRUDService">
<port name="FeedCRUDPort" binding="tns:FeedCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/FeedRegistry/FeedCRUDService"/>
</port>
</service>
</definitions>