src/main/wsdl/FileUploaderService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://files.upload.jseduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://files.upload.jseduite.modalis.i3s.unice.fr/" name="FileUploaderService">
<types>
<xsd:schema>
<xsd:import namespace="http://files.upload.jseduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/FileUploader/FileUploaderService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllFiles">
<part name="parameters" element="tns:getAllFiles"/>
</message>
<message name="getAllFilesResponse">
<part name="parameters" element="tns:getAllFilesResponse"/>
</message>
<message name="uploadNewFile">
<part name="parameters" element="tns:uploadNewFile"/>
</message>
<message name="uploadNewFileResponse">
<part name="parameters" element="tns:uploadNewFileResponse"/>
</message>
<message name="FileUploaderException">
<part name="fault" element="tns:FileUploaderException"/>
</message>
<message name="getFolderFiles">
<part name="parameters" element="tns:getFolderFiles"/>
</message>
<message name="getFolderFilesResponse">
<part name="parameters" element="tns:getFolderFilesResponse"/>
</message>
<message name="deleteFile">
<part name="parameters" element="tns:deleteFile"/>
</message>
<message name="deleteFileResponse">
<part name="parameters" element="tns:deleteFileResponse"/>
</message>
<message name="getURL">
<part name="parameters" element="tns:getURL"/>
</message>
<message name="getURLResponse">
<part name="parameters" element="tns:getURLResponse"/>
</message>
<portType name="FileUploader">
<operation name="getAllFiles">
<input wsam:Action="http://files.upload.jseduite.modalis.i3s.unice.fr/FileUploader/getAllFilesRequest" message="tns:getAllFiles"/>
<output wsam:Action="http://files.upload.jseduite.modalis.i3s.unice.fr/FileUploader/getAllFilesResponse" message="tns:getAllFilesResponse"/>
</operation>
<operation name="uploadNewFile">
<input wsam:Action="http://files.upload.jseduite.modalis.i3s.unice.fr/FileUploader/uploadNewFileRequest" message="tns:uploadNewFile"/>
<output wsam:Action="http://files.upload.jseduite.modalis.i3s.unice.fr/FileUploader/uploadNewFileResponse" message="tns:uploadNewFileResponse"/>
<fault message="tns:FileUploaderException" name="FileUploaderException" wsam:Action="http://files.upload.jseduite.modalis.i3s.unice.fr/FileUploader/uploadNewFile/Fault/FileUploaderException"/>
</operation>
<operation name="getFolderFiles">
<input wsam:Action="http://files.upload.jseduite.modalis.i3s.unice.fr/FileUploader/getFolderFilesRequest" message="tns:getFolderFiles"/>
<output wsam:Action="http://files.upload.jseduite.modalis.i3s.unice.fr/FileUploader/getFolderFilesResponse" message="tns:getFolderFilesResponse"/>
</operation>
<operation name="deleteFile">
<input wsam:Action="http://files.upload.jseduite.modalis.i3s.unice.fr/FileUploader/deleteFileRequest" message="tns:deleteFile"/>
<output wsam:Action="http://files.upload.jseduite.modalis.i3s.unice.fr/FileUploader/deleteFileResponse" message="tns:deleteFileResponse"/>
<fault message="tns:FileUploaderException" name="FileUploaderException" wsam:Action="http://files.upload.jseduite.modalis.i3s.unice.fr/FileUploader/deleteFile/Fault/FileUploaderException"/>
</operation>
<operation name="getURL">
<input wsam:Action="http://files.upload.jseduite.modalis.i3s.unice.fr/FileUploader/getURLRequest" message="tns:getURL"/>
<output wsam:Action="http://files.upload.jseduite.modalis.i3s.unice.fr/FileUploader/getURLResponse" message="tns:getURLResponse"/>
<fault message="tns:FileUploaderException" name="FileUploaderException" wsam:Action="http://files.upload.jseduite.modalis.i3s.unice.fr/FileUploader/getURL/Fault/FileUploaderException"/>
</operation>
</portType>
<binding name="FileUploaderPortBinding" type="tns:FileUploader">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllFiles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="uploadNewFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FileUploaderException">
<soap:fault name="FileUploaderException" use="literal"/>
</fault>
</operation>
<operation name="getFolderFiles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FileUploaderException">
<soap:fault name="FileUploaderException" use="literal"/>
</fault>
</operation>
<operation name="getURL">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FileUploaderException">
<soap:fault name="FileUploaderException" use="literal"/>
</fault>
</operation>
</binding>
<service name="FileUploaderService">
<port name="FileUploaderPort" binding="tns:FileUploaderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/FileUploader/FileUploaderService"/>
</port>
</service>
</definitions>