src/main/wsdl/FlickrWrapperService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://flickr.image.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://flickr.image.technical.jSeduite.modalis.i3s.unice.fr/" name="FlickrWrapperService">
<types>
<xsd:schema>
<xsd:import namespace="http://flickr.image.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/FlickrWrapper/FlickrWrapperService?xsd=1"/>
</xsd:schema>
</types>
<message name="getFolksonomyContent">
<part name="parameters" element="tns:getFolksonomyContent"/>
</message>
<message name="getFolksonomyContentResponse">
<part name="parameters" element="tns:getFolksonomyContentResponse"/>
</message>
<message name="FlickrWrapperException">
<part name="fault" element="tns:FlickrWrapperException"/>
</message>
<message name="getAlbumContent">
<part name="parameters" element="tns:getAlbumContent"/>
</message>
<message name="getAlbumContentResponse">
<part name="parameters" element="tns:getAlbumContentResponse"/>
</message>
<portType name="FlickrWrapper">
<operation name="getFolksonomyContent">
<input wsam:Action="http://flickr.image.technical.jSeduite.modalis.i3s.unice.fr/FlickrWrapper/getFolksonomyContentRequest" message="tns:getFolksonomyContent"/>
<output wsam:Action="http://flickr.image.technical.jSeduite.modalis.i3s.unice.fr/FlickrWrapper/getFolksonomyContentResponse" message="tns:getFolksonomyContentResponse"/>
<fault message="tns:FlickrWrapperException" name="FlickrWrapperException" wsam:Action="http://flickr.image.technical.jSeduite.modalis.i3s.unice.fr/FlickrWrapper/getFolksonomyContent/Fault/FlickrWrapperException"/>
</operation>
<operation name="getAlbumContent">
<input wsam:Action="http://flickr.image.technical.jSeduite.modalis.i3s.unice.fr/FlickrWrapper/getAlbumContentRequest" message="tns:getAlbumContent"/>
<output wsam:Action="http://flickr.image.technical.jSeduite.modalis.i3s.unice.fr/FlickrWrapper/getAlbumContentResponse" message="tns:getAlbumContentResponse"/>
<fault message="tns:FlickrWrapperException" name="FlickrWrapperException" wsam:Action="http://flickr.image.technical.jSeduite.modalis.i3s.unice.fr/FlickrWrapper/getAlbumContent/Fault/FlickrWrapperException"/>
</operation>
</portType>
<binding name="FlickrWrapperPortBinding" type="tns:FlickrWrapper">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getFolksonomyContent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlickrWrapperException">
<soap:fault name="FlickrWrapperException" use="literal"/>
</fault>
</operation>
<operation name="getAlbumContent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlickrWrapperException">
<soap:fault name="FlickrWrapperException" use="literal"/>
</fault>
</operation>
</binding>
<service name="FlickrWrapperService">
<port name="FlickrWrapperPort" binding="tns:FlickrWrapperPortBinding">
<soap:address location="http://localhost:8080/jSeduite/FlickrWrapper/FlickrWrapperService"/>
</port>
</service>
</definitions>