src/main/wsdl/HyperLocatorService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hyperlocator" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hyperlocator" name="HyperLocatorService">
<types>
<xsd:schema>
<xsd:import namespace="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin" schemaLocation="http://localhost:8080/jSeduite/HyperMachin/HyperLocatorService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hyperlocator" schemaLocation="http://localhost:8080/jSeduite/HyperMachin/HyperLocatorService?xsd=2"/>
</xsd:schema>
</types>
<message name="locateTeacher">
<part name="parameters" element="tns:locateTeacher"/>
</message>
<message name="locateTeacherResponse">
<part name="parameters" element="tns:locateTeacherResponse"/>
</message>
<message name="HyperException">
<part name="fault" element="tns:HyperException"/>
</message>
<message name="getByPromo">
<part name="parameters" element="tns:getByPromo"/>
</message>
<message name="getByPromoResponse">
<part name="parameters" element="tns:getByPromoResponse"/>
</message>
<message name="getAllPromo">
<part name="parameters" element="tns:getAllPromo"/>
</message>
<message name="getAllPromoResponse">
<part name="parameters" element="tns:getAllPromoResponse"/>
</message>
<message name="getAllPromoByBuilding">
<part name="parameters" element="tns:getAllPromoByBuilding"/>
</message>
<message name="getAllPromoByBuildingResponse">
<part name="parameters" element="tns:getAllPromoByBuildingResponse"/>
</message>
<portType name="HyperLocator">
<operation name="locateTeacher">
<input wsam:Action="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hyperlocator/HyperLocator/locateTeacherRequest" message="tns:locateTeacher"/>
<output wsam:Action="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hyperlocator/HyperLocator/locateTeacherResponse" message="tns:locateTeacherResponse"/>
<fault message="tns:HyperException" name="HyperException" wsam:Action="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hyperlocator/HyperLocator/locateTeacher/Fault/HyperException"/>
</operation>
<operation name="getByPromo">
<input wsam:Action="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hyperlocator/HyperLocator/getByPromoRequest" message="tns:getByPromo"/>
<output wsam:Action="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hyperlocator/HyperLocator/getByPromoResponse" message="tns:getByPromoResponse"/>
<fault message="tns:HyperException" name="HyperException" wsam:Action="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hyperlocator/HyperLocator/getByPromo/Fault/HyperException"/>
</operation>
<operation name="getAllPromo">
<input wsam:Action="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hyperlocator/HyperLocator/getAllPromoRequest" message="tns:getAllPromo"/>
<output wsam:Action="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hyperlocator/HyperLocator/getAllPromoResponse" message="tns:getAllPromoResponse"/>
<fault message="tns:HyperException" name="HyperException" wsam:Action="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hyperlocator/HyperLocator/getAllPromo/Fault/HyperException"/>
</operation>
<operation name="getAllPromoByBuilding">
<input wsam:Action="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hyperlocator/HyperLocator/getAllPromoByBuildingRequest" message="tns:getAllPromoByBuilding"/>
<output wsam:Action="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hyperlocator/HyperLocator/getAllPromoByBuildingResponse" message="tns:getAllPromoByBuildingResponse"/>
<fault message="tns:HyperException" name="HyperException" wsam:Action="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hyperlocator/HyperLocator/getAllPromoByBuilding/Fault/HyperException"/>
</operation>
</portType>
<binding name="HyperLocatorPortBinding" type="tns:HyperLocator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="locateTeacher">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="HyperException">
<soap:fault name="HyperException" use="literal"/>
</fault>
</operation>
<operation name="getByPromo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="HyperException">
<soap:fault name="HyperException" use="literal"/>
</fault>
</operation>
<operation name="getAllPromo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="HyperException">
<soap:fault name="HyperException" use="literal"/>
</fault>
</operation>
<operation name="getAllPromoByBuilding">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="HyperException">
<soap:fault name="HyperException" use="literal"/>
</fault>
</operation>
</binding>
<service name="HyperLocatorService">
<port name="HyperLocatorPort" binding="tns:HyperLocatorPortBinding">
<soap:address location="http://localhost:8080/jSeduite/HyperMachin/HyperLocatorService"/>
</port>
</service>
</definitions>