src/main/wsdl/HyperPromoManagerService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin" name="HyperPromoManagerService">
<types>
<xsd:schema>
<xsd:import namespace="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin" schemaLocation="http://localhost:8080/jSeduite/HyperMachin/HyperPromoManagerService?xsd=1"/>
</xsd:schema>
</types>
<message name="waitStillSynchronize">
<part name="parameters" element="tns:waitStillSynchronize"/>
</message>
<message name="waitStillSynchronizeResponse">
<part name="parameters" element="tns:waitStillSynchronizeResponse"/>
</message>
<message name="synchronize">
<part name="parameters" element="tns:synchronize"/>
</message>
<message name="getAll">
<part name="parameters" element="tns:getAll"/>
</message>
<message name="getAllResponse">
<part name="parameters" element="tns:getAllResponse"/>
</message>
<message name="HyperException">
<part name="fault" element="tns:HyperException"/>
</message>
<message name="isValid">
<part name="parameters" element="tns:isValid"/>
</message>
<message name="isValidResponse">
<part name="parameters" element="tns:isValidResponse"/>
</message>
<message name="get">
<part name="parameters" element="tns:get"/>
</message>
<message name="getResponse">
<part name="parameters" element="tns:getResponse"/>
</message>
<portType name="HyperPromoManager">
<operation name="waitStillSynchronize">
<input wsam:Action="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin/HyperPromoManager/waitStillSynchronizeRequest" message="tns:waitStillSynchronize"/>
<output wsam:Action="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin/HyperPromoManager/waitStillSynchronizeResponse" message="tns:waitStillSynchronizeResponse"/>
</operation>
<operation name="synchronize">
<input wsam:Action="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin/HyperPromoManager/synchronize" message="tns:synchronize"/>
</operation>
<operation name="getAll">
<input wsam:Action="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin/HyperPromoManager/getAllRequest" message="tns:getAll"/>
<output wsam:Action="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin/HyperPromoManager/getAllResponse" message="tns:getAllResponse"/>
<fault message="tns:HyperException" name="HyperException" wsam:Action="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin/HyperPromoManager/getAll/Fault/HyperException"/>
</operation>
<operation name="isValid">
<input wsam:Action="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin/HyperPromoManager/isValidRequest" message="tns:isValid"/>
<output wsam:Action="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin/HyperPromoManager/isValidResponse" message="tns:isValidResponse"/>
<fault message="tns:HyperException" name="HyperException" wsam:Action="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin/HyperPromoManager/isValid/Fault/HyperException"/>
</operation>
<operation name="get">
<input wsam:Action="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin/HyperPromoManager/getRequest" message="tns:get"/>
<output wsam:Action="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin/HyperPromoManager/getResponse" message="tns:getResponse"/>
<fault message="tns:HyperException" name="HyperException" wsam:Action="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin/HyperPromoManager/get/Fault/HyperException"/>
</operation>
</portType>
<binding name="HyperPromoManagerPortBinding" type="tns:HyperPromoManager">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="waitStillSynchronize">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="synchronize">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="HyperException">
<soap:fault name="HyperException" use="literal"/>
</fault>
</operation>
<operation name="isValid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="HyperException">
<soap:fault name="HyperException" use="literal"/>
</fault>
</operation>
<operation name="get">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="HyperException">
<soap:fault name="HyperException" use="literal"/>
</fault>
</operation>
</binding>
<service name="HyperPromoManagerService">
<port name="HyperPromoManagerPort" binding="tns:HyperPromoManagerPortBinding">
<soap:address location="http://localhost:8080/jSeduite/HyperMachin/HyperPromoManagerService"/>
</port>
</service>
</definitions>