src/main/wsdl/HyperMachinService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin" name="HyperMachinService">
<types>
<xsd:schema>
<xsd:import namespace="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin" schemaLocation="http://localhost:8080/jSeduite/HyperMachin/HyperMachinService?xsd=1"/>
</xsd:schema>
</types>
<message name="getHyperEvents">
<part name="parameters" element="tns:getHyperEvents"/>
</message>
<message name="getHyperEventsResponse">
<part name="parameters" element="tns:getHyperEventsResponse"/>
</message>
<message name="HyperException">
<part name="fault" element="tns:HyperException"/>
</message>
<message name="getHyperEventsRestriction">
<part name="parameters" element="tns:getHyperEventsRestriction"/>
</message>
<message name="getHyperEventsRestrictionResponse">
<part name="parameters" element="tns:getHyperEventsRestrictionResponse"/>
</message>
<portType name="HyperMachin">
<operation name="getHyperEvents">
<input wsam:Action="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin/HyperMachin/getHyperEventsRequest" message="tns:getHyperEvents"/>
<output wsam:Action="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin/HyperMachin/getHyperEventsResponse" message="tns:getHyperEventsResponse"/>
<fault message="tns:HyperException" name="HyperException" wsam:Action="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin/HyperMachin/getHyperEvents/Fault/HyperException"/>
</operation>
<operation name="getHyperEventsRestriction">
<input wsam:Action="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin/HyperMachin/getHyperEventsRestrictionRequest" message="tns:getHyperEventsRestriction"/>
<output wsam:Action="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin/HyperMachin/getHyperEventsRestrictionResponse" message="tns:getHyperEventsRestrictionResponse"/>
<fault message="tns:HyperException" name="HyperException" wsam:Action="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin/HyperMachin/getHyperEventsRestriction/Fault/HyperException"/>
</operation>
</portType>
<binding name="HyperMachinPortBinding" type="tns:HyperMachin">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getHyperEvents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="HyperException">
<soap:fault name="HyperException" use="literal"/>
</fault>
</operation>
<operation name="getHyperEventsRestriction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="HyperException">
<soap:fault name="HyperException" use="literal"/>
</fault>
</operation>
</binding>
<service name="HyperMachinService">
<port name="HyperMachinPort" binding="tns:HyperMachinPortBinding">
<soap:address location="http://localhost:8080/jSeduite/HyperMachin/HyperMachinService"/>
</port>
</service>
</definitions>