src/main/wsdl/ICalReaderService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://calendar.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://calendar.technical.jSeduite.modalis.i3s.unice.fr/" name="ICalReaderService">
<types>
<xsd:schema>
<xsd:import namespace="http://calendar.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/ICalReader/ICalReaderService?xsd=1"/>
</xsd:schema>
</types>
<message name="getToday">
<part name="parameters" element="tns:getToday"/>
</message>
<message name="getTodayResponse">
<part name="parameters" element="tns:getTodayResponse"/>
</message>
<message name="ICalReaderException">
<part name="fault" element="tns:ICalReaderException"/>
</message>
<message name="getNow">
<part name="parameters" element="tns:getNow"/>
</message>
<message name="getNowResponse">
<part name="parameters" element="tns:getNowResponse"/>
</message>
<message name="getNDays">
<part name="parameters" element="tns:getNDays"/>
</message>
<message name="getNDaysResponse">
<part name="parameters" element="tns:getNDaysResponse"/>
</message>
<message name="getContent">
<part name="parameters" element="tns:getContent"/>
</message>
<message name="getContentResponse">
<part name="parameters" element="tns:getContentResponse"/>
</message>
<portType name="ICalReader">
<operation name="getToday">
<input wsam:Action="http://calendar.technical.jSeduite.modalis.i3s.unice.fr/ICalReader/getTodayRequest" message="tns:getToday"/>
<output wsam:Action="http://calendar.technical.jSeduite.modalis.i3s.unice.fr/ICalReader/getTodayResponse" message="tns:getTodayResponse"/>
<fault message="tns:ICalReaderException" name="ICalReaderException" wsam:Action="http://calendar.technical.jSeduite.modalis.i3s.unice.fr/ICalReader/getToday/Fault/ICalReaderException"/>
</operation>
<operation name="getNow">
<input wsam:Action="http://calendar.technical.jSeduite.modalis.i3s.unice.fr/ICalReader/getNowRequest" message="tns:getNow"/>
<output wsam:Action="http://calendar.technical.jSeduite.modalis.i3s.unice.fr/ICalReader/getNowResponse" message="tns:getNowResponse"/>
<fault message="tns:ICalReaderException" name="ICalReaderException" wsam:Action="http://calendar.technical.jSeduite.modalis.i3s.unice.fr/ICalReader/getNow/Fault/ICalReaderException"/>
</operation>
<operation name="getNDays">
<input wsam:Action="http://calendar.technical.jSeduite.modalis.i3s.unice.fr/ICalReader/getNDaysRequest" message="tns:getNDays"/>
<output wsam:Action="http://calendar.technical.jSeduite.modalis.i3s.unice.fr/ICalReader/getNDaysResponse" message="tns:getNDaysResponse"/>
<fault message="tns:ICalReaderException" name="ICalReaderException" wsam:Action="http://calendar.technical.jSeduite.modalis.i3s.unice.fr/ICalReader/getNDays/Fault/ICalReaderException"/>
</operation>
<operation name="getContent">
<input wsam:Action="http://calendar.technical.jSeduite.modalis.i3s.unice.fr/ICalReader/getContentRequest" message="tns:getContent"/>
<output wsam:Action="http://calendar.technical.jSeduite.modalis.i3s.unice.fr/ICalReader/getContentResponse" message="tns:getContentResponse"/>
<fault message="tns:ICalReaderException" name="ICalReaderException" wsam:Action="http://calendar.technical.jSeduite.modalis.i3s.unice.fr/ICalReader/getContent/Fault/ICalReaderException"/>
</operation>
</portType>
<binding name="ICalReaderPortBinding" type="tns:ICalReader">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getToday">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ICalReaderException">
<soap:fault name="ICalReaderException" use="literal"/>
</fault>
</operation>
<operation name="getNow">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ICalReaderException">
<soap:fault name="ICalReaderException" use="literal"/>
</fault>
</operation>
<operation name="getNDays">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ICalReaderException">
<soap:fault name="ICalReaderException" use="literal"/>
</fault>
</operation>
<operation name="getContent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ICalReaderException">
<soap:fault name="ICalReaderException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ICalReaderService">
<port name="ICalReaderPort" binding="tns:ICalReaderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/ICalReader/ICalReaderService"/>
</port>
</service>
</definitions>