src/main/wsdl/InternalNewsFinderService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/" name="InternalNewsFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/InternalNews/InternalNewsFinderService?xsd=1"/>
</xsd:schema>
</types>
<message name="findTargetById">
<part name="parameters" element="tns:findTargetById"/>
</message>
<message name="findTargetByIdResponse">
<part name="parameters" element="tns:findTargetByIdResponse"/>
</message>
<message name="InternalNewsException">
<part name="fault" element="tns:InternalNewsException"/>
</message>
<message name="getAllInternalNewsReferences">
<part name="parameters" element="tns:getAllInternalNewsReferences"/>
</message>
<message name="getAllInternalNewsReferencesResponse">
<part name="parameters" element="tns:getAllInternalNewsReferencesResponse"/>
</message>
<message name="findInternalNewsById">
<part name="parameters" element="tns:findInternalNewsById"/>
</message>
<message name="findInternalNewsByIdResponse">
<part name="parameters" element="tns:findInternalNewsByIdResponse"/>
</message>
<message name="getTargetsIds">
<part name="parameters" element="tns:getTargetsIds"/>
</message>
<message name="getTargetsIdsResponse">
<part name="parameters" element="tns:getTargetsIdsResponse"/>
</message>
<portType name="InternalNewsFinder">
<operation name="findTargetById">
<input wsam:Action="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/InternalNewsFinder/findTargetByIdRequest" message="tns:findTargetById"/>
<output wsam:Action="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/InternalNewsFinder/findTargetByIdResponse" message="tns:findTargetByIdResponse"/>
<fault message="tns:InternalNewsException" name="InternalNewsException" wsam:Action="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/InternalNewsFinder/findTargetById/Fault/InternalNewsException"/>
</operation>
<operation name="getAllInternalNewsReferences">
<input wsam:Action="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/InternalNewsFinder/getAllInternalNewsReferencesRequest" message="tns:getAllInternalNewsReferences"/>
<output wsam:Action="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/InternalNewsFinder/getAllInternalNewsReferencesResponse" message="tns:getAllInternalNewsReferencesResponse"/>
<fault message="tns:InternalNewsException" name="InternalNewsException" wsam:Action="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/InternalNewsFinder/getAllInternalNewsReferences/Fault/InternalNewsException"/>
</operation>
<operation name="findInternalNewsById">
<input wsam:Action="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/InternalNewsFinder/findInternalNewsByIdRequest" message="tns:findInternalNewsById"/>
<output wsam:Action="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/InternalNewsFinder/findInternalNewsByIdResponse" message="tns:findInternalNewsByIdResponse"/>
<fault message="tns:InternalNewsException" name="InternalNewsException" wsam:Action="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/InternalNewsFinder/findInternalNewsById/Fault/InternalNewsException"/>
</operation>
<operation name="getTargetsIds">
<input wsam:Action="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/InternalNewsFinder/getTargetsIdsRequest" message="tns:getTargetsIds"/>
<output wsam:Action="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/InternalNewsFinder/getTargetsIdsResponse" message="tns:getTargetsIdsResponse"/>
<fault message="tns:InternalNewsException" name="InternalNewsException" wsam:Action="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/InternalNewsFinder/getTargetsIds/Fault/InternalNewsException"/>
</operation>
</portType>
<binding name="InternalNewsFinderPortBinding" type="tns:InternalNewsFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findTargetById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InternalNewsException">
<soap:fault name="InternalNewsException" use="literal"/>
</fault>
</operation>
<operation name="getAllInternalNewsReferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InternalNewsException">
<soap:fault name="InternalNewsException" use="literal"/>
</fault>
</operation>
<operation name="findInternalNewsById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InternalNewsException">
<soap:fault name="InternalNewsException" use="literal"/>
</fault>
</operation>
<operation name="getTargetsIds">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InternalNewsException">
<soap:fault name="InternalNewsException" use="literal"/>
</fault>
</operation>
</binding>
<service name="InternalNewsFinderService">
<port name="InternalNewsFinderPort" binding="tns:InternalNewsFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/InternalNews/InternalNewsFinderService"/>
</port>
</service>
</definitions>