src/main/wsdl/InternalNewsCRUDService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/" name="InternalNewsCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/InternalNews/InternalNewsCRUDService?xsd=1"/>
</xsd:schema>
</types>
<message name="createInternalNews">
<part name="parameters" element="tns:createInternalNews"/>
</message>
<message name="createInternalNewsResponse">
<part name="parameters" element="tns:createInternalNewsResponse"/>
</message>
<message name="InternalNewsException">
<part name="fault" element="tns:InternalNewsException"/>
</message>
<message name="readInternalNews">
<part name="parameters" element="tns:readInternalNews"/>
</message>
<message name="readInternalNewsResponse">
<part name="parameters" element="tns:readInternalNewsResponse"/>
</message>
<message name="deleteInternalNews">
<part name="parameters" element="tns:deleteInternalNews"/>
</message>
<message name="deleteInternalNewsResponse">
<part name="parameters" element="tns:deleteInternalNewsResponse"/>
</message>
<message name="updateInternalNews">
<part name="parameters" element="tns:updateInternalNews"/>
</message>
<message name="updateInternalNewsResponse">
<part name="parameters" element="tns:updateInternalNewsResponse"/>
</message>
<portType name="InternalNewsCRUD">
<operation name="createInternalNews">
<input wsam:Action="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/InternalNewsCRUD/createInternalNewsRequest" message="tns:createInternalNews"/>
<output wsam:Action="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/InternalNewsCRUD/createInternalNewsResponse" message="tns:createInternalNewsResponse"/>
<fault message="tns:InternalNewsException" name="InternalNewsException" wsam:Action="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/InternalNewsCRUD/createInternalNews/Fault/InternalNewsException"/>
</operation>
<operation name="readInternalNews">
<input wsam:Action="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/InternalNewsCRUD/readInternalNewsRequest" message="tns:readInternalNews"/>
<output wsam:Action="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/InternalNewsCRUD/readInternalNewsResponse" message="tns:readInternalNewsResponse"/>
<fault message="tns:InternalNewsException" name="InternalNewsException" wsam:Action="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/InternalNewsCRUD/readInternalNews/Fault/InternalNewsException"/>
</operation>
<operation name="deleteInternalNews">
<input wsam:Action="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/InternalNewsCRUD/deleteInternalNewsRequest" message="tns:deleteInternalNews"/>
<output wsam:Action="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/InternalNewsCRUD/deleteInternalNewsResponse" message="tns:deleteInternalNewsResponse"/>
<fault message="tns:InternalNewsException" name="InternalNewsException" wsam:Action="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/InternalNewsCRUD/deleteInternalNews/Fault/InternalNewsException"/>
</operation>
<operation name="updateInternalNews">
<input wsam:Action="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/InternalNewsCRUD/updateInternalNewsRequest" message="tns:updateInternalNews"/>
<output wsam:Action="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/InternalNewsCRUD/updateInternalNewsResponse" message="tns:updateInternalNewsResponse"/>
<fault message="tns:InternalNewsException" name="InternalNewsException" wsam:Action="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/InternalNewsCRUD/updateInternalNews/Fault/InternalNewsException"/>
</operation>
</portType>
<binding name="InternalNewsCRUDPortBinding" type="tns:InternalNewsCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createInternalNews">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InternalNewsException">
<soap:fault name="InternalNewsException" use="literal"/>
</fault>
</operation>
<operation name="readInternalNews">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InternalNewsException">
<soap:fault name="InternalNewsException" use="literal"/>
</fault>
</operation>
<operation name="deleteInternalNews">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InternalNewsException">
<soap:fault name="InternalNewsException" use="literal"/>
</fault>
</operation>
<operation name="updateInternalNews">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InternalNewsException">
<soap:fault name="InternalNewsException" use="literal"/>
</fault>
</operation>
</binding>
<service name="InternalNewsCRUDService">
<port name="InternalNewsCRUDPort" binding="tns:InternalNewsCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/InternalNews/InternalNewsCRUDService"/>
</port>
</service>
</definitions>