src/main/wsdl/MenuCRUDService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" name="MenuCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/MenuService/MenuCRUDService?xsd=1"/>
</xsd:schema>
</types>
<message name="updateMenu">
<part name="parameters" element="tns:updateMenu"/>
</message>
<message name="updateMenuResponse">
<part name="parameters" element="tns:updateMenuResponse"/>
</message>
<message name="RestaurantException">
<part name="fault" element="tns:RestaurantException"/>
</message>
<message name="readMenu">
<part name="parameters" element="tns:readMenu"/>
</message>
<message name="readMenuResponse">
<part name="parameters" element="tns:readMenuResponse"/>
</message>
<message name="deleteMenu">
<part name="parameters" element="tns:deleteMenu"/>
</message>
<message name="deleteMenuResponse">
<part name="parameters" element="tns:deleteMenuResponse"/>
</message>
<message name="createMenu">
<part name="parameters" element="tns:createMenu"/>
</message>
<message name="createMenuResponse">
<part name="parameters" element="tns:createMenuResponse"/>
</message>
<portType name="MenuCRUD">
<operation name="updateMenu">
<input wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/MenuCRUD/updateMenuRequest" message="tns:updateMenu"/>
<output wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/MenuCRUD/updateMenuResponse" message="tns:updateMenuResponse"/>
<fault message="tns:RestaurantException" name="RestaurantException" wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/MenuCRUD/updateMenu/Fault/RestaurantException"/>
</operation>
<operation name="readMenu">
<input wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/MenuCRUD/readMenuRequest" message="tns:readMenu"/>
<output wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/MenuCRUD/readMenuResponse" message="tns:readMenuResponse"/>
<fault message="tns:RestaurantException" name="RestaurantException" wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/MenuCRUD/readMenu/Fault/RestaurantException"/>
</operation>
<operation name="deleteMenu">
<input wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/MenuCRUD/deleteMenuRequest" message="tns:deleteMenu"/>
<output wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/MenuCRUD/deleteMenuResponse" message="tns:deleteMenuResponse"/>
<fault message="tns:RestaurantException" name="RestaurantException" wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/MenuCRUD/deleteMenu/Fault/RestaurantException"/>
</operation>
<operation name="createMenu">
<input wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/MenuCRUD/createMenuRequest" message="tns:createMenu"/>
<output wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/MenuCRUD/createMenuResponse" message="tns:createMenuResponse"/>
<fault message="tns:RestaurantException" name="RestaurantException" wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/MenuCRUD/createMenu/Fault/RestaurantException"/>
</operation>
</portType>
<binding name="MenuCRUDPortBinding" type="tns:MenuCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RestaurantException">
<soap:fault name="RestaurantException" use="literal"/>
</fault>
</operation>
<operation name="readMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RestaurantException">
<soap:fault name="RestaurantException" use="literal"/>
</fault>
</operation>
<operation name="deleteMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RestaurantException">
<soap:fault name="RestaurantException" use="literal"/>
</fault>
</operation>
<operation name="createMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RestaurantException">
<soap:fault name="RestaurantException" use="literal"/>
</fault>
</operation>
</binding>
<service name="MenuCRUDService">
<port name="MenuCRUDPort" binding="tns:MenuCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/MenuService/MenuCRUDService"/>
</port>
</service>
</definitions>