src/main/wsdl/MenuFinderService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" name="MenuFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/MenuService/MenuFinderService?xsd=1"/>
</xsd:schema>
</types>
<message name="findMenuByDate">
<part name="parameters" element="tns:findMenuByDate"/>
</message>
<message name="findMenuByDateResponse">
<part name="parameters" element="tns:findMenuByDateResponse"/>
</message>
<message name="RestaurantException">
<part name="fault" element="tns:RestaurantException"/>
</message>
<message name="findNextDateMenu">
<part name="parameters" element="tns:findNextDateMenu"/>
</message>
<message name="findNextDateMenuResponse">
<part name="parameters" element="tns:findNextDateMenuResponse"/>
</message>
<message name="findAvailableMenuType">
<part name="parameters" element="tns:findAvailableMenuType"/>
</message>
<message name="findAvailableMenuTypeResponse">
<part name="parameters" element="tns:findAvailableMenuTypeResponse"/>
</message>
<message name="getAllMenuReferences">
<part name="parameters" element="tns:getAllMenuReferences"/>
</message>
<message name="getAllMenuReferencesResponse">
<part name="parameters" element="tns:getAllMenuReferencesResponse"/>
</message>
<portType name="MenuFinder">
<operation name="findMenuByDate">
<input wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/MenuFinder/findMenuByDateRequest" message="tns:findMenuByDate"/>
<output wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/MenuFinder/findMenuByDateResponse" message="tns:findMenuByDateResponse"/>
<fault message="tns:RestaurantException" name="RestaurantException" wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/MenuFinder/findMenuByDate/Fault/RestaurantException"/>
</operation>
<operation name="findNextDateMenu">
<input wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/MenuFinder/findNextDateMenuRequest" message="tns:findNextDateMenu"/>
<output wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/MenuFinder/findNextDateMenuResponse" message="tns:findNextDateMenuResponse"/>
<fault message="tns:RestaurantException" name="RestaurantException" wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/MenuFinder/findNextDateMenu/Fault/RestaurantException"/>
</operation>
<operation name="findAvailableMenuType">
<input wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/MenuFinder/findAvailableMenuTypeRequest" message="tns:findAvailableMenuType"/>
<output wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/MenuFinder/findAvailableMenuTypeResponse" message="tns:findAvailableMenuTypeResponse"/>
<fault message="tns:RestaurantException" name="RestaurantException" wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/MenuFinder/findAvailableMenuType/Fault/RestaurantException"/>
</operation>
<operation name="getAllMenuReferences">
<input wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/MenuFinder/getAllMenuReferencesRequest" message="tns:getAllMenuReferences"/>
<output wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/MenuFinder/getAllMenuReferencesResponse" message="tns:getAllMenuReferencesResponse"/>
<fault message="tns:RestaurantException" name="RestaurantException" wsam:Action="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/MenuFinder/getAllMenuReferences/Fault/RestaurantException"/>
</operation>
</portType>
<binding name="MenuFinderPortBinding" type="tns:MenuFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findMenuByDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RestaurantException">
<soap:fault name="RestaurantException" use="literal"/>
</fault>
</operation>
<operation name="findNextDateMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RestaurantException">
<soap:fault name="RestaurantException" use="literal"/>
</fault>
</operation>
<operation name="findAvailableMenuType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RestaurantException">
<soap:fault name="RestaurantException" use="literal"/>
</fault>
</operation>
<operation name="getAllMenuReferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RestaurantException">
<soap:fault name="RestaurantException" use="literal"/>
</fault>
</operation>
</binding>
<service name="MenuFinderService">
<port name="MenuFinderPort" binding="tns:MenuFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/MenuService/MenuFinderService"/>
</port>
</service>
</definitions>