src/main/wsdl/ParamFinderService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/" name="ParamFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/ProfileManager/ParamFinderService?xsd=1"/>
</xsd:schema>
</types>
<message name="getParametersForSource">
<part name="parameters" element="tns:getParametersForSource"/>
</message>
<message name="getParametersForSourceResponse">
<part name="parameters" element="tns:getParametersForSourceResponse"/>
</message>
<message name="ParamException">
<part name="fault" element="tns:ParamException"/>
</message>
<message name="getParameterCard">
<part name="parameters" element="tns:getParameterCard"/>
</message>
<message name="getParameterCardResponse">
<part name="parameters" element="tns:getParameterCardResponse"/>
</message>
<message name="getParameters">
<part name="parameters" element="tns:getParameters"/>
</message>
<message name="getParametersResponse">
<part name="parameters" element="tns:getParametersResponse"/>
</message>
<portType name="ParamFinder">
<operation name="getParametersForSource">
<input wsam:Action="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/ParamFinder/getParametersForSourceRequest" message="tns:getParametersForSource"/>
<output wsam:Action="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/ParamFinder/getParametersForSourceResponse" message="tns:getParametersForSourceResponse"/>
<fault message="tns:ParamException" name="ParamException" wsam:Action="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/ParamFinder/getParametersForSource/Fault/ParamException"/>
</operation>
<operation name="getParameterCard">
<input wsam:Action="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/ParamFinder/getParameterCardRequest" message="tns:getParameterCard"/>
<output wsam:Action="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/ParamFinder/getParameterCardResponse" message="tns:getParameterCardResponse"/>
<fault message="tns:ParamException" name="ParamException" wsam:Action="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/ParamFinder/getParameterCard/Fault/ParamException"/>
</operation>
<operation name="getParameters">
<input wsam:Action="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/ParamFinder/getParametersRequest" message="tns:getParameters"/>
<output wsam:Action="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/ParamFinder/getParametersResponse" message="tns:getParametersResponse"/>
<fault message="tns:ParamException" name="ParamException" wsam:Action="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/ParamFinder/getParameters/Fault/ParamException"/>
</operation>
</portType>
<binding name="ParamFinderPortBinding" type="tns:ParamFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getParametersForSource">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParamException">
<soap:fault name="ParamException" use="literal"/>
</fault>
</operation>
<operation name="getParameterCard">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParamException">
<soap:fault name="ParamException" use="literal"/>
</fault>
</operation>
<operation name="getParameters">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParamException">
<soap:fault name="ParamException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ParamFinderService">
<port name="ParamFinderPort" binding="tns:ParamFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/ProfileManager/ParamFinderService"/>
</port>
</service>
</definitions>