src/main/wsdl/ParamCreatorService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/" name="ParamCreatorService">
<types>
<xsd:schema>
<xsd:import namespace="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/ProfileManager/ParamCreatorService?xsd=1"/>
</xsd:schema>
</types>
<message name="parametrization">
<part name="parameters" element="tns:parametrization"/>
</message>
<message name="parametrizationResponse">
<part name="parameters" element="tns:parametrizationResponse"/>
</message>
<message name="ParamException">
<part name="fault" element="tns:ParamException"/>
</message>
<message name="subscription">
<part name="parameters" element="tns:subscription"/>
</message>
<message name="subscriptionResponse">
<part name="parameters" element="tns:subscriptionResponse"/>
</message>
<portType name="ParamCreator">
<operation name="parametrization">
<input wsam:Action="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/ParamCreator/parametrizationRequest" message="tns:parametrization"/>
<output wsam:Action="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/ParamCreator/parametrizationResponse" message="tns:parametrizationResponse"/>
<fault message="tns:ParamException" name="ParamException" wsam:Action="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/ParamCreator/parametrization/Fault/ParamException"/>
</operation>
<operation name="subscription">
<input wsam:Action="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/ParamCreator/subscriptionRequest" message="tns:subscription"/>
<output wsam:Action="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/ParamCreator/subscriptionResponse" message="tns:subscriptionResponse"/>
<fault message="tns:ParamException" name="ParamException" wsam:Action="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/ParamCreator/subscription/Fault/ParamException"/>
</operation>
</portType>
<binding name="ParamCreatorPortBinding" type="tns:ParamCreator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="parametrization">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParamException">
<soap:fault name="ParamException" use="literal"/>
</fault>
</operation>
<operation name="subscription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParamException">
<soap:fault name="ParamException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ParamCreatorService">
<port name="ParamCreatorPort" binding="tns:ParamCreatorPortBinding">
<soap:address location="http://localhost:8080/jSeduite/ProfileManager/ParamCreatorService"/>
</port>
</service>
</definitions>