src/main/wsdl/PartnerKeysCRUDService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/" name="PartnerKeysCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/PartnerKeys/PartnerKeysCRUDService?xsd=1"/>
</xsd:schema>
</types>
<message name="deletePartnerKey">
<part name="parameters" element="tns:deletePartnerKey"/>
</message>
<message name="deletePartnerKeyResponse">
<part name="parameters" element="tns:deletePartnerKeyResponse"/>
</message>
<message name="PartnerKeysException">
<part name="fault" element="tns:PartnerKeysException"/>
</message>
<message name="readPartnerKey">
<part name="parameters" element="tns:readPartnerKey"/>
</message>
<message name="readPartnerKeyResponse">
<part name="parameters" element="tns:readPartnerKeyResponse"/>
</message>
<message name="createPartnerKey">
<part name="parameters" element="tns:createPartnerKey"/>
</message>
<message name="createPartnerKeyResponse">
<part name="parameters" element="tns:createPartnerKeyResponse"/>
</message>
<message name="updatePartnerKey">
<part name="parameters" element="tns:updatePartnerKey"/>
</message>
<message name="updatePartnerKeyResponse">
<part name="parameters" element="tns:updatePartnerKeyResponse"/>
</message>
<portType name="PartnerKeysCRUD">
<operation name="deletePartnerKey">
<input wsam:Action="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/PartnerKeysCRUD/deletePartnerKeyRequest" message="tns:deletePartnerKey"/>
<output wsam:Action="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/PartnerKeysCRUD/deletePartnerKeyResponse" message="tns:deletePartnerKeyResponse"/>
<fault message="tns:PartnerKeysException" name="PartnerKeysException" wsam:Action="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/PartnerKeysCRUD/deletePartnerKey/Fault/PartnerKeysException"/>
</operation>
<operation name="readPartnerKey">
<input wsam:Action="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/PartnerKeysCRUD/readPartnerKeyRequest" message="tns:readPartnerKey"/>
<output wsam:Action="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/PartnerKeysCRUD/readPartnerKeyResponse" message="tns:readPartnerKeyResponse"/>
<fault message="tns:PartnerKeysException" name="PartnerKeysException" wsam:Action="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/PartnerKeysCRUD/readPartnerKey/Fault/PartnerKeysException"/>
</operation>
<operation name="createPartnerKey">
<input wsam:Action="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/PartnerKeysCRUD/createPartnerKeyRequest" message="tns:createPartnerKey"/>
<output wsam:Action="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/PartnerKeysCRUD/createPartnerKeyResponse" message="tns:createPartnerKeyResponse"/>
<fault message="tns:PartnerKeysException" name="PartnerKeysException" wsam:Action="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/PartnerKeysCRUD/createPartnerKey/Fault/PartnerKeysException"/>
</operation>
<operation name="updatePartnerKey">
<input wsam:Action="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/PartnerKeysCRUD/updatePartnerKeyRequest" message="tns:updatePartnerKey"/>
<output wsam:Action="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/PartnerKeysCRUD/updatePartnerKeyResponse" message="tns:updatePartnerKeyResponse"/>
<fault message="tns:PartnerKeysException" name="PartnerKeysException" wsam:Action="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/PartnerKeysCRUD/updatePartnerKey/Fault/PartnerKeysException"/>
</operation>
</portType>
<binding name="PartnerKeysCRUDPortBinding" type="tns:PartnerKeysCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deletePartnerKey">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerKeysException">
<soap:fault name="PartnerKeysException" use="literal"/>
</fault>
</operation>
<operation name="readPartnerKey">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerKeysException">
<soap:fault name="PartnerKeysException" use="literal"/>
</fault>
</operation>
<operation name="createPartnerKey">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerKeysException">
<soap:fault name="PartnerKeysException" use="literal"/>
</fault>
</operation>
<operation name="updatePartnerKey">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerKeysException">
<soap:fault name="PartnerKeysException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PartnerKeysCRUDService">
<port name="PartnerKeysCRUDPort" binding="tns:PartnerKeysCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/PartnerKeys/PartnerKeysCRUDService"/>
</port>
</service>
</definitions>