src/main/wsdl/PartnerKeysFinderService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/" name="PartnerKeysFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/PartnerKeys/PartnerKeysFinderService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllPartnerKeysReferences">
<part name="parameters" element="tns:getAllPartnerKeysReferences"/>
</message>
<message name="getAllPartnerKeysReferencesResponse">
<part name="parameters" element="tns:getAllPartnerKeysReferencesResponse"/>
</message>
<message name="PartnerKeysException">
<part name="fault" element="tns:PartnerKeysException"/>
</message>
<message name="findPartnerKeyById">
<part name="parameters" element="tns:findPartnerKeyById"/>
</message>
<message name="findPartnerKeyByIdResponse">
<part name="parameters" element="tns:findPartnerKeyByIdResponse"/>
</message>
<portType name="PartnerKeysFinder">
<operation name="getAllPartnerKeysReferences">
<input wsam:Action="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/PartnerKeysFinder/getAllPartnerKeysReferencesRequest" message="tns:getAllPartnerKeysReferences"/>
<output wsam:Action="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/PartnerKeysFinder/getAllPartnerKeysReferencesResponse" message="tns:getAllPartnerKeysReferencesResponse"/>
<fault message="tns:PartnerKeysException" name="PartnerKeysException" wsam:Action="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/PartnerKeysFinder/getAllPartnerKeysReferences/Fault/PartnerKeysException"/>
</operation>
<operation name="findPartnerKeyById">
<input wsam:Action="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/PartnerKeysFinder/findPartnerKeyByIdRequest" message="tns:findPartnerKeyById"/>
<output wsam:Action="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/PartnerKeysFinder/findPartnerKeyByIdResponse" message="tns:findPartnerKeyByIdResponse"/>
<fault message="tns:PartnerKeysException" name="PartnerKeysException" wsam:Action="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/PartnerKeysFinder/findPartnerKeyById/Fault/PartnerKeysException"/>
</operation>
</portType>
<binding name="PartnerKeysFinderPortBinding" type="tns:PartnerKeysFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllPartnerKeysReferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerKeysException">
<soap:fault name="PartnerKeysException" use="literal"/>
</fault>
</operation>
<operation name="findPartnerKeyById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerKeysException">
<soap:fault name="PartnerKeysException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PartnerKeysFinderService">
<port name="PartnerKeysFinderPort" binding="tns:PartnerKeysFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/PartnerKeys/PartnerKeysFinderService"/>
</port>
</service>
</definitions>