src/main/wsdl/PicasaWrapperService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://picasa.image.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://picasa.image.technical.jSeduite.modalis.i3s.unice.fr/" name="PicasaWrapperService">
<types>
<xsd:schema>
<xsd:import namespace="http://picasa.image.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/PicasaWrapper/PicasaWrapperService?xsd=1"/>
</xsd:schema>
</types>
<message name="getFolksonomyContent">
<part name="parameters" element="tns:getFolksonomyContent"/>
</message>
<message name="getFolksonomyContentResponse">
<part name="parameters" element="tns:getFolksonomyContentResponse"/>
</message>
<message name="PicasaWrapperException">
<part name="fault" element="tns:PicasaWrapperException"/>
</message>
<message name="getAlbumContent">
<part name="parameters" element="tns:getAlbumContent"/>
</message>
<message name="getAlbumContentResponse">
<part name="parameters" element="tns:getAlbumContentResponse"/>
</message>
<message name="getProtectedAlbumContent">
<part name="parameters" element="tns:getProtectedAlbumContent"/>
</message>
<message name="getProtectedAlbumContentResponse">
<part name="parameters" element="tns:getProtectedAlbumContentResponse"/>
</message>
<portType name="PicasaWrapper">
<operation name="getFolksonomyContent">
<input wsam:Action="http://picasa.image.technical.jSeduite.modalis.i3s.unice.fr/PicasaWrapper/getFolksonomyContentRequest" message="tns:getFolksonomyContent"/>
<output wsam:Action="http://picasa.image.technical.jSeduite.modalis.i3s.unice.fr/PicasaWrapper/getFolksonomyContentResponse" message="tns:getFolksonomyContentResponse"/>
<fault message="tns:PicasaWrapperException" name="PicasaWrapperException" wsam:Action="http://picasa.image.technical.jSeduite.modalis.i3s.unice.fr/PicasaWrapper/getFolksonomyContent/Fault/PicasaWrapperException"/>
</operation>
<operation name="getAlbumContent">
<input wsam:Action="http://picasa.image.technical.jSeduite.modalis.i3s.unice.fr/PicasaWrapper/getAlbumContentRequest" message="tns:getAlbumContent"/>
<output wsam:Action="http://picasa.image.technical.jSeduite.modalis.i3s.unice.fr/PicasaWrapper/getAlbumContentResponse" message="tns:getAlbumContentResponse"/>
<fault message="tns:PicasaWrapperException" name="PicasaWrapperException" wsam:Action="http://picasa.image.technical.jSeduite.modalis.i3s.unice.fr/PicasaWrapper/getAlbumContent/Fault/PicasaWrapperException"/>
</operation>
<operation name="getProtectedAlbumContent">
<input wsam:Action="http://picasa.image.technical.jSeduite.modalis.i3s.unice.fr/PicasaWrapper/getProtectedAlbumContentRequest" message="tns:getProtectedAlbumContent"/>
<output wsam:Action="http://picasa.image.technical.jSeduite.modalis.i3s.unice.fr/PicasaWrapper/getProtectedAlbumContentResponse" message="tns:getProtectedAlbumContentResponse"/>
<fault message="tns:PicasaWrapperException" name="PicasaWrapperException" wsam:Action="http://picasa.image.technical.jSeduite.modalis.i3s.unice.fr/PicasaWrapper/getProtectedAlbumContent/Fault/PicasaWrapperException"/>
</operation>
</portType>
<binding name="PicasaWrapperPortBinding" type="tns:PicasaWrapper">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getFolksonomyContent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PicasaWrapperException">
<soap:fault name="PicasaWrapperException" use="literal"/>
</fault>
</operation>
<operation name="getAlbumContent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PicasaWrapperException">
<soap:fault name="PicasaWrapperException" use="literal"/>
</fault>
</operation>
<operation name="getProtectedAlbumContent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PicasaWrapperException">
<soap:fault name="PicasaWrapperException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PicasaWrapperService">
<port name="PicasaWrapperPort" binding="tns:PicasaWrapperPortBinding">
<soap:address location="http://localhost:8080/jSeduite/PicasaWrapper/PicasaWrapperService"/>
</port>
</service>
</definitions>