src/main/wsdl/PictogramCRUDService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/" name="PictogramCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/Pictogram/PictogramCRUDService?xsd=1"/>
</xsd:schema>
</types>
<message name="deletePictogram">
<part name="parameters" element="tns:deletePictogram"/>
</message>
<message name="deletePictogramResponse">
<part name="parameters" element="tns:deletePictogramResponse"/>
</message>
<message name="PictogramException">
<part name="fault" element="tns:PictogramException"/>
</message>
<message name="readPictogram">
<part name="parameters" element="tns:readPictogram"/>
</message>
<message name="readPictogramResponse">
<part name="parameters" element="tns:readPictogramResponse"/>
</message>
<message name="updatePictogram">
<part name="parameters" element="tns:updatePictogram"/>
</message>
<message name="updatePictogramResponse">
<part name="parameters" element="tns:updatePictogramResponse"/>
</message>
<message name="createPictogram">
<part name="parameters" element="tns:createPictogram"/>
</message>
<message name="createPictogramResponse">
<part name="parameters" element="tns:createPictogramResponse"/>
</message>
<portType name="PictogramCRUD">
<operation name="deletePictogram">
<input wsam:Action="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/PictogramCRUD/deletePictogramRequest" message="tns:deletePictogram"/>
<output wsam:Action="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/PictogramCRUD/deletePictogramResponse" message="tns:deletePictogramResponse"/>
<fault message="tns:PictogramException" name="PictogramException" wsam:Action="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/PictogramCRUD/deletePictogram/Fault/PictogramException"/>
</operation>
<operation name="readPictogram">
<input wsam:Action="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/PictogramCRUD/readPictogramRequest" message="tns:readPictogram"/>
<output wsam:Action="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/PictogramCRUD/readPictogramResponse" message="tns:readPictogramResponse"/>
<fault message="tns:PictogramException" name="PictogramException" wsam:Action="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/PictogramCRUD/readPictogram/Fault/PictogramException"/>
</operation>
<operation name="updatePictogram">
<input wsam:Action="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/PictogramCRUD/updatePictogramRequest" message="tns:updatePictogram"/>
<output wsam:Action="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/PictogramCRUD/updatePictogramResponse" message="tns:updatePictogramResponse"/>
<fault message="tns:PictogramException" name="PictogramException" wsam:Action="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/PictogramCRUD/updatePictogram/Fault/PictogramException"/>
</operation>
<operation name="createPictogram">
<input wsam:Action="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/PictogramCRUD/createPictogramRequest" message="tns:createPictogram"/>
<output wsam:Action="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/PictogramCRUD/createPictogramResponse" message="tns:createPictogramResponse"/>
<fault message="tns:PictogramException" name="PictogramException" wsam:Action="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/PictogramCRUD/createPictogram/Fault/PictogramException"/>
</operation>
</portType>
<binding name="PictogramCRUDPortBinding" type="tns:PictogramCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deletePictogram">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PictogramException">
<soap:fault name="PictogramException" use="literal"/>
</fault>
</operation>
<operation name="readPictogram">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PictogramException">
<soap:fault name="PictogramException" use="literal"/>
</fault>
</operation>
<operation name="updatePictogram">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PictogramException">
<soap:fault name="PictogramException" use="literal"/>
</fault>
</operation>
<operation name="createPictogram">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PictogramException">
<soap:fault name="PictogramException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PictogramCRUDService">
<port name="PictogramCRUDPort" binding="tns:PictogramCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/Pictogram/PictogramCRUDService"/>
</port>
</service>
</definitions>