src/main/wsdl/PictureAlbumRegistryCRUDService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/" name="PictureAlbumRegistryCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/PictureAlbumRegistry/PictureAlbumRegistryCRUDService?xsd=1"/>
</xsd:schema>
</types>
<message name="readPictureAlbum">
<part name="parameters" element="tns:readPictureAlbum"/>
</message>
<message name="readPictureAlbumResponse">
<part name="parameters" element="tns:readPictureAlbumResponse"/>
</message>
<message name="PictureAlbumRegistryException">
<part name="fault" element="tns:PictureAlbumRegistryException"/>
</message>
<message name="createPictureAlbum">
<part name="parameters" element="tns:createPictureAlbum"/>
</message>
<message name="createPictureAlbumResponse">
<part name="parameters" element="tns:createPictureAlbumResponse"/>
</message>
<message name="deletePictureAlbum">
<part name="parameters" element="tns:deletePictureAlbum"/>
</message>
<message name="deletePictureAlbumResponse">
<part name="parameters" element="tns:deletePictureAlbumResponse"/>
</message>
<message name="updatePictureAlbum">
<part name="parameters" element="tns:updatePictureAlbum"/>
</message>
<message name="updatePictureAlbumResponse">
<part name="parameters" element="tns:updatePictureAlbumResponse"/>
</message>
<portType name="PictureAlbumRegistryCRUD">
<operation name="readPictureAlbum">
<input wsam:Action="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/PictureAlbumRegistryCRUD/readPictureAlbumRequest" message="tns:readPictureAlbum"/>
<output wsam:Action="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/PictureAlbumRegistryCRUD/readPictureAlbumResponse" message="tns:readPictureAlbumResponse"/>
<fault message="tns:PictureAlbumRegistryException" name="PictureAlbumRegistryException" wsam:Action="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/PictureAlbumRegistryCRUD/readPictureAlbum/Fault/PictureAlbumRegistryException"/>
</operation>
<operation name="createPictureAlbum">
<input wsam:Action="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/PictureAlbumRegistryCRUD/createPictureAlbumRequest" message="tns:createPictureAlbum"/>
<output wsam:Action="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/PictureAlbumRegistryCRUD/createPictureAlbumResponse" message="tns:createPictureAlbumResponse"/>
<fault message="tns:PictureAlbumRegistryException" name="PictureAlbumRegistryException" wsam:Action="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/PictureAlbumRegistryCRUD/createPictureAlbum/Fault/PictureAlbumRegistryException"/>
</operation>
<operation name="deletePictureAlbum">
<input wsam:Action="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/PictureAlbumRegistryCRUD/deletePictureAlbumRequest" message="tns:deletePictureAlbum"/>
<output wsam:Action="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/PictureAlbumRegistryCRUD/deletePictureAlbumResponse" message="tns:deletePictureAlbumResponse"/>
<fault message="tns:PictureAlbumRegistryException" name="PictureAlbumRegistryException" wsam:Action="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/PictureAlbumRegistryCRUD/deletePictureAlbum/Fault/PictureAlbumRegistryException"/>
</operation>
<operation name="updatePictureAlbum">
<input wsam:Action="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/PictureAlbumRegistryCRUD/updatePictureAlbumRequest" message="tns:updatePictureAlbum"/>
<output wsam:Action="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/PictureAlbumRegistryCRUD/updatePictureAlbumResponse" message="tns:updatePictureAlbumResponse"/>
<fault message="tns:PictureAlbumRegistryException" name="PictureAlbumRegistryException" wsam:Action="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/PictureAlbumRegistryCRUD/updatePictureAlbum/Fault/PictureAlbumRegistryException"/>
</operation>
</portType>
<binding name="PictureAlbumRegistryCRUDPortBinding" type="tns:PictureAlbumRegistryCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="readPictureAlbum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PictureAlbumRegistryException">
<soap:fault name="PictureAlbumRegistryException" use="literal"/>
</fault>
</operation>
<operation name="createPictureAlbum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PictureAlbumRegistryException">
<soap:fault name="PictureAlbumRegistryException" use="literal"/>
</fault>
</operation>
<operation name="deletePictureAlbum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PictureAlbumRegistryException">
<soap:fault name="PictureAlbumRegistryException" use="literal"/>
</fault>
</operation>
<operation name="updatePictureAlbum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PictureAlbumRegistryException">
<soap:fault name="PictureAlbumRegistryException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PictureAlbumRegistryCRUDService">
<port name="PictureAlbumRegistryCRUDPort" binding="tns:PictureAlbumRegistryCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/PictureAlbumRegistry/PictureAlbumRegistryCRUDService"/>
</port>
</service>
</definitions>