src/main/wsdl/PictureAlbumRegistryFinderService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/" name="PictureAlbumRegistryFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/PictureAlbumRegistry/PictureAlbumRegistryFinderService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllPictureAlbumReferences">
<part name="parameters" element="tns:getAllPictureAlbumReferences"/>
</message>
<message name="getAllPictureAlbumReferencesResponse">
<part name="parameters" element="tns:getAllPictureAlbumReferencesResponse"/>
</message>
<message name="PictureAlbumRegistryException">
<part name="fault" element="tns:PictureAlbumRegistryException"/>
</message>
<message name="findPictureAlbumById">
<part name="parameters" element="tns:findPictureAlbumById"/>
</message>
<message name="findPictureAlbumByIdResponse">
<part name="parameters" element="tns:findPictureAlbumByIdResponse"/>
</message>
<portType name="PictureAlbumRegistryFinder">
<operation name="getAllPictureAlbumReferences">
<input wsam:Action="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/PictureAlbumRegistryFinder/getAllPictureAlbumReferencesRequest" message="tns:getAllPictureAlbumReferences"/>
<output wsam:Action="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/PictureAlbumRegistryFinder/getAllPictureAlbumReferencesResponse" message="tns:getAllPictureAlbumReferencesResponse"/>
<fault message="tns:PictureAlbumRegistryException" name="PictureAlbumRegistryException" wsam:Action="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/PictureAlbumRegistryFinder/getAllPictureAlbumReferences/Fault/PictureAlbumRegistryException"/>
</operation>
<operation name="findPictureAlbumById">
<input wsam:Action="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/PictureAlbumRegistryFinder/findPictureAlbumByIdRequest" message="tns:findPictureAlbumById"/>
<output wsam:Action="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/PictureAlbumRegistryFinder/findPictureAlbumByIdResponse" message="tns:findPictureAlbumByIdResponse"/>
<fault message="tns:PictureAlbumRegistryException" name="PictureAlbumRegistryException" wsam:Action="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/PictureAlbumRegistryFinder/findPictureAlbumById/Fault/PictureAlbumRegistryException"/>
</operation>
</portType>
<binding name="PictureAlbumRegistryFinderPortBinding" type="tns:PictureAlbumRegistryFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllPictureAlbumReferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PictureAlbumRegistryException">
<soap:fault name="PictureAlbumRegistryException" use="literal"/>
</fault>
</operation>
<operation name="findPictureAlbumById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PictureAlbumRegistryException">
<soap:fault name="PictureAlbumRegistryException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PictureAlbumRegistryFinderService">
<port name="PictureAlbumRegistryFinderPort" binding="tns:PictureAlbumRegistryFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/PictureAlbumRegistry/PictureAlbumRegistryFinderService"/>
</port>
</service>
</definitions>