src/main/wsdl/PictureSetService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://helper.image.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://helper.image.technical.jSeduite.modalis.i3s.unice.fr/" name="PictureSetService">
<types>
<xsd:schema>
<xsd:import namespace="http://helper.image.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/PictureSet/PictureSetService?xsd=1"/>
</xsd:schema>
</types>
<message name="truncate">
<part name="parameters" element="tns:truncate"/>
</message>
<message name="truncateResponse">
<part name="parameters" element="tns:truncateResponse"/>
</message>
<message name="shuffle">
<part name="parameters" element="tns:shuffle"/>
</message>
<message name="shuffleResponse">
<part name="parameters" element="tns:shuffleResponse"/>
</message>
<message name="merge">
<part name="parameters" element="tns:merge"/>
</message>
<message name="mergeResponse">
<part name="parameters" element="tns:mergeResponse"/>
</message>
<portType name="PictureSet">
<operation name="truncate">
<input wsam:Action="http://helper.image.technical.jSeduite.modalis.i3s.unice.fr/PictureSet/truncateRequest" message="tns:truncate"/>
<output wsam:Action="http://helper.image.technical.jSeduite.modalis.i3s.unice.fr/PictureSet/truncateResponse" message="tns:truncateResponse"/>
</operation>
<operation name="shuffle">
<input wsam:Action="http://helper.image.technical.jSeduite.modalis.i3s.unice.fr/PictureSet/shuffleRequest" message="tns:shuffle"/>
<output wsam:Action="http://helper.image.technical.jSeduite.modalis.i3s.unice.fr/PictureSet/shuffleResponse" message="tns:shuffleResponse"/>
</operation>
<operation name="merge">
<input wsam:Action="http://helper.image.technical.jSeduite.modalis.i3s.unice.fr/PictureSet/mergeRequest" message="tns:merge"/>
<output wsam:Action="http://helper.image.technical.jSeduite.modalis.i3s.unice.fr/PictureSet/mergeResponse" message="tns:mergeResponse"/>
</operation>
</portType>
<binding name="PictureSetPortBinding" type="tns:PictureSet">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="truncate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="shuffle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="merge">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PictureSetService">
<port name="PictureSetPort" binding="tns:PictureSetPortBinding">
<soap:address location="http://localhost:8080/jSeduite/PictureSet/PictureSetService"/>
</port>
</service>
</definitions>