src/main/wsdl/PictogramFinderService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/" name="PictogramFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/Pictogram/PictogramFinderService?xsd=1"/>
</xsd:schema>
</types>
<message name="findPictogramById">
<part name="parameters" element="tns:findPictogramById"/>
</message>
<message name="findPictogramByIdResponse">
<part name="parameters" element="tns:findPictogramByIdResponse"/>
</message>
<message name="PictogramException">
<part name="fault" element="tns:PictogramException"/>
</message>
<message name="getAllPictogramReferences">
<part name="parameters" element="tns:getAllPictogramReferences"/>
</message>
<message name="getAllPictogramReferencesResponse">
<part name="parameters" element="tns:getAllPictogramReferencesResponse"/>
</message>
<portType name="PictogramFinder">
<operation name="findPictogramById">
<input wsam:Action="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/PictogramFinder/findPictogramByIdRequest" message="tns:findPictogramById"/>
<output wsam:Action="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/PictogramFinder/findPictogramByIdResponse" message="tns:findPictogramByIdResponse"/>
<fault message="tns:PictogramException" name="PictogramException" wsam:Action="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/PictogramFinder/findPictogramById/Fault/PictogramException"/>
</operation>
<operation name="getAllPictogramReferences">
<input wsam:Action="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/PictogramFinder/getAllPictogramReferencesRequest" message="tns:getAllPictogramReferences"/>
<output wsam:Action="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/PictogramFinder/getAllPictogramReferencesResponse" message="tns:getAllPictogramReferencesResponse"/>
<fault message="tns:PictogramException" name="PictogramException" wsam:Action="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/PictogramFinder/getAllPictogramReferences/Fault/PictogramException"/>
</operation>
</portType>
<binding name="PictogramFinderPortBinding" type="tns:PictogramFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findPictogramById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PictogramException">
<soap:fault name="PictogramException" use="literal"/>
</fault>
</operation>
<operation name="getAllPictogramReferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PictogramException">
<soap:fault name="PictogramException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PictogramFinderService">
<port name="PictogramFinderPort" binding="tns:PictogramFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/Pictogram/PictogramFinderService"/>
</port>
</service>
</definitions>