src/main/wsdl/PlanningFinderService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/" name="PlanningFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/SchoolLife/PlanningFinderService?xsd=1"/>
</xsd:schema>
</types>
<message name="findPlanningById">
<part name="parameters" element="tns:findPlanningById"/>
</message>
<message name="findPlanningByIdResponse">
<part name="parameters" element="tns:findPlanningByIdResponse"/>
</message>
<message name="PlanningException">
<part name="fault" element="tns:PlanningException"/>
</message>
<message name="getAllPlanningReferences">
<part name="parameters" element="tns:getAllPlanningReferences"/>
</message>
<message name="getAllPlanningReferencesResponse">
<part name="parameters" element="tns:getAllPlanningReferencesResponse"/>
</message>
<portType name="PlanningFinder">
<operation name="findPlanningById">
<input wsam:Action="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/PlanningFinder/findPlanningByIdRequest" message="tns:findPlanningById"/>
<output wsam:Action="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/PlanningFinder/findPlanningByIdResponse" message="tns:findPlanningByIdResponse"/>
<fault message="tns:PlanningException" name="PlanningException" wsam:Action="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/PlanningFinder/findPlanningById/Fault/PlanningException"/>
</operation>
<operation name="getAllPlanningReferences">
<input wsam:Action="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/PlanningFinder/getAllPlanningReferencesRequest" message="tns:getAllPlanningReferences"/>
<output wsam:Action="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/PlanningFinder/getAllPlanningReferencesResponse" message="tns:getAllPlanningReferencesResponse"/>
<fault message="tns:PlanningException" name="PlanningException" wsam:Action="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/PlanningFinder/getAllPlanningReferences/Fault/PlanningException"/>
</operation>
</portType>
<binding name="PlanningFinderPortBinding" type="tns:PlanningFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findPlanningById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PlanningException">
<soap:fault name="PlanningException" use="literal"/>
</fault>
</operation>
<operation name="getAllPlanningReferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PlanningException">
<soap:fault name="PlanningException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PlanningFinderService">
<port name="PlanningFinderPort" binding="tns:PlanningFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/SchoolLife/PlanningFinderService"/>
</port>
</service>
</definitions>