src/main/wsdl/PlanningCRUDService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/" name="PlanningCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/SchoolLife/PlanningCRUDService?xsd=1"/>
</xsd:schema>
</types>
<message name="deletePlanning">
<part name="parameters" element="tns:deletePlanning"/>
</message>
<message name="deletePlanningResponse">
<part name="parameters" element="tns:deletePlanningResponse"/>
</message>
<message name="PlanningException">
<part name="fault" element="tns:PlanningException"/>
</message>
<message name="updatePlanning">
<part name="parameters" element="tns:updatePlanning"/>
</message>
<message name="updatePlanningResponse">
<part name="parameters" element="tns:updatePlanningResponse"/>
</message>
<message name="readPlanning">
<part name="parameters" element="tns:readPlanning"/>
</message>
<message name="readPlanningResponse">
<part name="parameters" element="tns:readPlanningResponse"/>
</message>
<message name="createPlanning">
<part name="parameters" element="tns:createPlanning"/>
</message>
<message name="createPlanningResponse">
<part name="parameters" element="tns:createPlanningResponse"/>
</message>
<portType name="PlanningCRUD">
<operation name="deletePlanning">
<input wsam:Action="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/PlanningCRUD/deletePlanningRequest" message="tns:deletePlanning"/>
<output wsam:Action="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/PlanningCRUD/deletePlanningResponse" message="tns:deletePlanningResponse"/>
<fault message="tns:PlanningException" name="PlanningException" wsam:Action="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/PlanningCRUD/deletePlanning/Fault/PlanningException"/>
</operation>
<operation name="updatePlanning">
<input wsam:Action="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/PlanningCRUD/updatePlanningRequest" message="tns:updatePlanning"/>
<output wsam:Action="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/PlanningCRUD/updatePlanningResponse" message="tns:updatePlanningResponse"/>
<fault message="tns:PlanningException" name="PlanningException" wsam:Action="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/PlanningCRUD/updatePlanning/Fault/PlanningException"/>
</operation>
<operation name="readPlanning">
<input wsam:Action="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/PlanningCRUD/readPlanningRequest" message="tns:readPlanning"/>
<output wsam:Action="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/PlanningCRUD/readPlanningResponse" message="tns:readPlanningResponse"/>
<fault message="tns:PlanningException" name="PlanningException" wsam:Action="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/PlanningCRUD/readPlanning/Fault/PlanningException"/>
</operation>
<operation name="createPlanning">
<input wsam:Action="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/PlanningCRUD/createPlanningRequest" message="tns:createPlanning"/>
<output wsam:Action="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/PlanningCRUD/createPlanningResponse" message="tns:createPlanningResponse"/>
<fault message="tns:PlanningException" name="PlanningException" wsam:Action="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/PlanningCRUD/createPlanning/Fault/PlanningException"/>
</operation>
</portType>
<binding name="PlanningCRUDPortBinding" type="tns:PlanningCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deletePlanning">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PlanningException">
<soap:fault name="PlanningException" use="literal"/>
</fault>
</operation>
<operation name="updatePlanning">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PlanningException">
<soap:fault name="PlanningException" use="literal"/>
</fault>
</operation>
<operation name="readPlanning">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PlanningException">
<soap:fault name="PlanningException" use="literal"/>
</fault>
</operation>
<operation name="createPlanning">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PlanningException">
<soap:fault name="PlanningException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PlanningCRUDService">
<port name="PlanningCRUDPort" binding="tns:PlanningCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/SchoolLife/PlanningCRUDService"/>
</port>
</service>
</definitions>