src/main/wsdl/PromoCRUDService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://promos.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://promos.technical.jSeduite.modalis.i3s.unice.fr/" name="PromoCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://promos.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/SchoolLife/PromoCRUDService?xsd=1"/>
</xsd:schema>
</types>
<message name="deletePromo">
<part name="parameters" element="tns:deletePromo"/>
</message>
<message name="deletePromoResponse">
<part name="parameters" element="tns:deletePromoResponse"/>
</message>
<message name="PromoException">
<part name="fault" element="tns:PromoException"/>
</message>
<message name="createPromo">
<part name="parameters" element="tns:createPromo"/>
</message>
<message name="createPromoResponse">
<part name="parameters" element="tns:createPromoResponse"/>
</message>
<message name="readPromo">
<part name="parameters" element="tns:readPromo"/>
</message>
<message name="readPromoResponse">
<part name="parameters" element="tns:readPromoResponse"/>
</message>
<message name="updatePromo">
<part name="parameters" element="tns:updatePromo"/>
</message>
<message name="updatePromoResponse">
<part name="parameters" element="tns:updatePromoResponse"/>
</message>
<portType name="PromoCRUD">
<operation name="deletePromo">
<input wsam:Action="http://promos.technical.jSeduite.modalis.i3s.unice.fr/PromoCRUD/deletePromoRequest" message="tns:deletePromo"/>
<output wsam:Action="http://promos.technical.jSeduite.modalis.i3s.unice.fr/PromoCRUD/deletePromoResponse" message="tns:deletePromoResponse"/>
<fault message="tns:PromoException" name="PromoException" wsam:Action="http://promos.technical.jSeduite.modalis.i3s.unice.fr/PromoCRUD/deletePromo/Fault/PromoException"/>
</operation>
<operation name="createPromo">
<input wsam:Action="http://promos.technical.jSeduite.modalis.i3s.unice.fr/PromoCRUD/createPromoRequest" message="tns:createPromo"/>
<output wsam:Action="http://promos.technical.jSeduite.modalis.i3s.unice.fr/PromoCRUD/createPromoResponse" message="tns:createPromoResponse"/>
<fault message="tns:PromoException" name="PromoException" wsam:Action="http://promos.technical.jSeduite.modalis.i3s.unice.fr/PromoCRUD/createPromo/Fault/PromoException"/>
</operation>
<operation name="readPromo">
<input wsam:Action="http://promos.technical.jSeduite.modalis.i3s.unice.fr/PromoCRUD/readPromoRequest" message="tns:readPromo"/>
<output wsam:Action="http://promos.technical.jSeduite.modalis.i3s.unice.fr/PromoCRUD/readPromoResponse" message="tns:readPromoResponse"/>
<fault message="tns:PromoException" name="PromoException" wsam:Action="http://promos.technical.jSeduite.modalis.i3s.unice.fr/PromoCRUD/readPromo/Fault/PromoException"/>
</operation>
<operation name="updatePromo">
<input wsam:Action="http://promos.technical.jSeduite.modalis.i3s.unice.fr/PromoCRUD/updatePromoRequest" message="tns:updatePromo"/>
<output wsam:Action="http://promos.technical.jSeduite.modalis.i3s.unice.fr/PromoCRUD/updatePromoResponse" message="tns:updatePromoResponse"/>
<fault message="tns:PromoException" name="PromoException" wsam:Action="http://promos.technical.jSeduite.modalis.i3s.unice.fr/PromoCRUD/updatePromo/Fault/PromoException"/>
</operation>
</portType>
<binding name="PromoCRUDPortBinding" type="tns:PromoCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deletePromo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PromoException">
<soap:fault name="PromoException" use="literal"/>
</fault>
</operation>
<operation name="createPromo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PromoException">
<soap:fault name="PromoException" use="literal"/>
</fault>
</operation>
<operation name="readPromo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PromoException">
<soap:fault name="PromoException" use="literal"/>
</fault>
</operation>
<operation name="updatePromo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PromoException">
<soap:fault name="PromoException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PromoCRUDService">
<port name="PromoCRUDPort" binding="tns:PromoCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/SchoolLife/PromoCRUDService"/>
</port>
</service>
</definitions>