src/main/wsdl/PromoFinderService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://promos.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://promos.technical.jSeduite.modalis.i3s.unice.fr/" name="PromoFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://promos.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/SchoolLife/PromoFinderService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllPromosReferences">
<part name="parameters" element="tns:getAllPromosReferences"/>
</message>
<message name="getAllPromosReferencesResponse">
<part name="parameters" element="tns:getAllPromosReferencesResponse"/>
</message>
<message name="PromoException">
<part name="fault" element="tns:PromoException"/>
</message>
<message name="findPromoById">
<part name="parameters" element="tns:findPromoById"/>
</message>
<message name="findPromoByIdResponse">
<part name="parameters" element="tns:findPromoByIdResponse"/>
</message>
<portType name="PromoFinder">
<operation name="getAllPromosReferences">
<input wsam:Action="http://promos.technical.jSeduite.modalis.i3s.unice.fr/PromoFinder/getAllPromosReferencesRequest" message="tns:getAllPromosReferences"/>
<output wsam:Action="http://promos.technical.jSeduite.modalis.i3s.unice.fr/PromoFinder/getAllPromosReferencesResponse" message="tns:getAllPromosReferencesResponse"/>
<fault message="tns:PromoException" name="PromoException" wsam:Action="http://promos.technical.jSeduite.modalis.i3s.unice.fr/PromoFinder/getAllPromosReferences/Fault/PromoException"/>
</operation>
<operation name="findPromoById">
<input wsam:Action="http://promos.technical.jSeduite.modalis.i3s.unice.fr/PromoFinder/findPromoByIdRequest" message="tns:findPromoById"/>
<output wsam:Action="http://promos.technical.jSeduite.modalis.i3s.unice.fr/PromoFinder/findPromoByIdResponse" message="tns:findPromoByIdResponse"/>
<fault message="tns:PromoException" name="PromoException" wsam:Action="http://promos.technical.jSeduite.modalis.i3s.unice.fr/PromoFinder/findPromoById/Fault/PromoException"/>
</operation>
</portType>
<binding name="PromoFinderPortBinding" type="tns:PromoFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllPromosReferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PromoException">
<soap:fault name="PromoException" use="literal"/>
</fault>
</operation>
<operation name="findPromoById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PromoException">
<soap:fault name="PromoException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PromoFinderService">
<port name="PromoFinderPort" binding="tns:PromoFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/SchoolLife/PromoFinderService"/>
</port>
</service>
</definitions>