src/main/wsdl/SourceCRUDService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/" name="SourceCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/ProfileManager/SourceCRUDService?xsd=1"/>
</xsd:schema>
</types>
<message name="updateSource">
<part name="parameters" element="tns:updateSource"/>
</message>
<message name="updateSourceResponse">
<part name="parameters" element="tns:updateSourceResponse"/>
</message>
<message name="SourceException">
<part name="fault" element="tns:SourceException"/>
</message>
<message name="deleteSource">
<part name="parameters" element="tns:deleteSource"/>
</message>
<message name="deleteSourceResponse">
<part name="parameters" element="tns:deleteSourceResponse"/>
</message>
<message name="readSource">
<part name="parameters" element="tns:readSource"/>
</message>
<message name="readSourceResponse">
<part name="parameters" element="tns:readSourceResponse"/>
</message>
<message name="createSource">
<part name="parameters" element="tns:createSource"/>
</message>
<message name="createSourceResponse">
<part name="parameters" element="tns:createSourceResponse"/>
</message>
<portType name="SourceCRUD">
<operation name="updateSource">
<input wsam:Action="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/SourceCRUD/updateSourceRequest" message="tns:updateSource"/>
<output wsam:Action="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/SourceCRUD/updateSourceResponse" message="tns:updateSourceResponse"/>
<fault message="tns:SourceException" name="SourceException" wsam:Action="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/SourceCRUD/updateSource/Fault/SourceException"/>
</operation>
<operation name="deleteSource">
<input wsam:Action="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/SourceCRUD/deleteSourceRequest" message="tns:deleteSource"/>
<output wsam:Action="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/SourceCRUD/deleteSourceResponse" message="tns:deleteSourceResponse"/>
<fault message="tns:SourceException" name="SourceException" wsam:Action="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/SourceCRUD/deleteSource/Fault/SourceException"/>
</operation>
<operation name="readSource">
<input wsam:Action="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/SourceCRUD/readSourceRequest" message="tns:readSource"/>
<output wsam:Action="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/SourceCRUD/readSourceResponse" message="tns:readSourceResponse"/>
<fault message="tns:SourceException" name="SourceException" wsam:Action="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/SourceCRUD/readSource/Fault/SourceException"/>
</operation>
<operation name="createSource">
<input wsam:Action="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/SourceCRUD/createSourceRequest" message="tns:createSource"/>
<output wsam:Action="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/SourceCRUD/createSourceResponse" message="tns:createSourceResponse"/>
<fault message="tns:SourceException" name="SourceException" wsam:Action="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/SourceCRUD/createSource/Fault/SourceException"/>
</operation>
</portType>
<binding name="SourceCRUDPortBinding" type="tns:SourceCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateSource">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SourceException">
<soap:fault name="SourceException" use="literal"/>
</fault>
</operation>
<operation name="deleteSource">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SourceException">
<soap:fault name="SourceException" use="literal"/>
</fault>
</operation>
<operation name="readSource">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SourceException">
<soap:fault name="SourceException" use="literal"/>
</fault>
</operation>
<operation name="createSource">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SourceException">
<soap:fault name="SourceException" use="literal"/>
</fault>
</operation>
</binding>
<service name="SourceCRUDService">
<port name="SourceCRUDPort" binding="tns:SourceCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/ProfileManager/SourceCRUDService"/>
</port>
</service>
</definitions>