src/main/wsdl/SourceFinderService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/" name="SourceFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/ProfileManager/SourceFinderService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllSourceReferences">
<part name="parameters" element="tns:getAllSourceReferences"/>
</message>
<message name="getAllSourceReferencesResponse">
<part name="parameters" element="tns:getAllSourceReferencesResponse"/>
</message>
<message name="SourceException">
<part name="fault" element="tns:SourceException"/>
</message>
<message name="findSourceByNickname">
<part name="parameters" element="tns:findSourceByNickname"/>
</message>
<message name="findSourceByNicknameResponse">
<part name="parameters" element="tns:findSourceByNicknameResponse"/>
</message>
<portType name="SourceFinder">
<operation name="getAllSourceReferences">
<input wsam:Action="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/SourceFinder/getAllSourceReferencesRequest" message="tns:getAllSourceReferences"/>
<output wsam:Action="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/SourceFinder/getAllSourceReferencesResponse" message="tns:getAllSourceReferencesResponse"/>
<fault message="tns:SourceException" name="SourceException" wsam:Action="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/SourceFinder/getAllSourceReferences/Fault/SourceException"/>
</operation>
<operation name="findSourceByNickname">
<input wsam:Action="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/SourceFinder/findSourceByNicknameRequest" message="tns:findSourceByNickname"/>
<output wsam:Action="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/SourceFinder/findSourceByNicknameResponse" message="tns:findSourceByNicknameResponse"/>
<fault message="tns:SourceException" name="SourceException" wsam:Action="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/SourceFinder/findSourceByNickname/Fault/SourceException"/>
</operation>
</portType>
<binding name="SourceFinderPortBinding" type="tns:SourceFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllSourceReferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SourceException">
<soap:fault name="SourceException" use="literal"/>
</fault>
</operation>
<operation name="findSourceByNickname">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SourceException">
<soap:fault name="SourceException" use="literal"/>
</fault>
</operation>
</binding>
<service name="SourceFinderService">
<port name="SourceFinderPort" binding="tns:SourceFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/ProfileManager/SourceFinderService"/>
</port>
</service>
</definitions>