src/main/wsdl/SummoningCRUDService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/" name="SummoningCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/SchoolLife/SummoningCRUDService?xsd=1"/>
</xsd:schema>
</types>
<message name="updateSummoning">
<part name="parameters" element="tns:updateSummoning"/>
</message>
<message name="updateSummoningResponse">
<part name="parameters" element="tns:updateSummoningResponse"/>
</message>
<message name="StudentsSummonException">
<part name="fault" element="tns:StudentsSummonException"/>
</message>
<message name="createSummoning">
<part name="parameters" element="tns:createSummoning"/>
</message>
<message name="createSummoningResponse">
<part name="parameters" element="tns:createSummoningResponse"/>
</message>
<message name="deleteSummoning">
<part name="parameters" element="tns:deleteSummoning"/>
</message>
<message name="deleteSummoningResponse">
<part name="parameters" element="tns:deleteSummoningResponse"/>
</message>
<message name="readSummoning">
<part name="parameters" element="tns:readSummoning"/>
</message>
<message name="readSummoningResponse">
<part name="parameters" element="tns:readSummoningResponse"/>
</message>
<portType name="SummoningCRUD">
<operation name="updateSummoning">
<input wsam:Action="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/SummoningCRUD/updateSummoningRequest" message="tns:updateSummoning"/>
<output wsam:Action="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/SummoningCRUD/updateSummoningResponse" message="tns:updateSummoningResponse"/>
<fault message="tns:StudentsSummonException" name="StudentsSummonException" wsam:Action="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/SummoningCRUD/updateSummoning/Fault/StudentsSummonException"/>
</operation>
<operation name="createSummoning">
<input wsam:Action="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/SummoningCRUD/createSummoningRequest" message="tns:createSummoning"/>
<output wsam:Action="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/SummoningCRUD/createSummoningResponse" message="tns:createSummoningResponse"/>
<fault message="tns:StudentsSummonException" name="StudentsSummonException" wsam:Action="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/SummoningCRUD/createSummoning/Fault/StudentsSummonException"/>
</operation>
<operation name="deleteSummoning">
<input wsam:Action="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/SummoningCRUD/deleteSummoningRequest" message="tns:deleteSummoning"/>
<output wsam:Action="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/SummoningCRUD/deleteSummoningResponse" message="tns:deleteSummoningResponse"/>
<fault message="tns:StudentsSummonException" name="StudentsSummonException" wsam:Action="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/SummoningCRUD/deleteSummoning/Fault/StudentsSummonException"/>
</operation>
<operation name="readSummoning">
<input wsam:Action="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/SummoningCRUD/readSummoningRequest" message="tns:readSummoning"/>
<output wsam:Action="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/SummoningCRUD/readSummoningResponse" message="tns:readSummoningResponse"/>
<fault message="tns:StudentsSummonException" name="StudentsSummonException" wsam:Action="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/SummoningCRUD/readSummoning/Fault/StudentsSummonException"/>
</operation>
</portType>
<binding name="SummoningCRUDPortBinding" type="tns:SummoningCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateSummoning">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="StudentsSummonException">
<soap:fault name="StudentsSummonException" use="literal"/>
</fault>
</operation>
<operation name="createSummoning">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="StudentsSummonException">
<soap:fault name="StudentsSummonException" use="literal"/>
</fault>
</operation>
<operation name="deleteSummoning">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="StudentsSummonException">
<soap:fault name="StudentsSummonException" use="literal"/>
</fault>
</operation>
<operation name="readSummoning">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="StudentsSummonException">
<soap:fault name="StudentsSummonException" use="literal"/>
</fault>
</operation>
</binding>
<service name="SummoningCRUDService">
<port name="SummoningCRUDPort" binding="tns:SummoningCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/SchoolLife/SummoningCRUDService"/>
</port>
</service>
</definitions>