src/main/wsdl/SummoningFinderService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/" name="SummoningFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/SchoolLife/SummoningFinderService?xsd=1"/>
</xsd:schema>
</types>
<message name="getLevelIds">
<part name="parameters" element="tns:getLevelIds"/>
</message>
<message name="getLevelIdsResponse">
<part name="parameters" element="tns:getLevelIdsResponse"/>
</message>
<message name="StudentsSummonException">
<part name="fault" element="tns:StudentsSummonException"/>
</message>
<message name="findLevelById">
<part name="parameters" element="tns:findLevelById"/>
</message>
<message name="findLevelByIdResponse">
<part name="parameters" element="tns:findLevelByIdResponse"/>
</message>
<message name="getAllSummoningReferences">
<part name="parameters" element="tns:getAllSummoningReferences"/>
</message>
<message name="getAllSummoningReferencesResponse">
<part name="parameters" element="tns:getAllSummoningReferencesResponse"/>
</message>
<message name="findSummoningById">
<part name="parameters" element="tns:findSummoningById"/>
</message>
<message name="findSummoningByIdResponse">
<part name="parameters" element="tns:findSummoningByIdResponse"/>
</message>
<portType name="SummoningFinder">
<operation name="getLevelIds">
<input wsam:Action="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/SummoningFinder/getLevelIdsRequest" message="tns:getLevelIds"/>
<output wsam:Action="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/SummoningFinder/getLevelIdsResponse" message="tns:getLevelIdsResponse"/>
<fault message="tns:StudentsSummonException" name="StudentsSummonException" wsam:Action="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/SummoningFinder/getLevelIds/Fault/StudentsSummonException"/>
</operation>
<operation name="findLevelById">
<input wsam:Action="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/SummoningFinder/findLevelByIdRequest" message="tns:findLevelById"/>
<output wsam:Action="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/SummoningFinder/findLevelByIdResponse" message="tns:findLevelByIdResponse"/>
<fault message="tns:StudentsSummonException" name="StudentsSummonException" wsam:Action="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/SummoningFinder/findLevelById/Fault/StudentsSummonException"/>
</operation>
<operation name="getAllSummoningReferences">
<input wsam:Action="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/SummoningFinder/getAllSummoningReferencesRequest" message="tns:getAllSummoningReferences"/>
<output wsam:Action="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/SummoningFinder/getAllSummoningReferencesResponse" message="tns:getAllSummoningReferencesResponse"/>
<fault message="tns:StudentsSummonException" name="StudentsSummonException" wsam:Action="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/SummoningFinder/getAllSummoningReferences/Fault/StudentsSummonException"/>
</operation>
<operation name="findSummoningById">
<input wsam:Action="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/SummoningFinder/findSummoningByIdRequest" message="tns:findSummoningById"/>
<output wsam:Action="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/SummoningFinder/findSummoningByIdResponse" message="tns:findSummoningByIdResponse"/>
<fault message="tns:StudentsSummonException" name="StudentsSummonException" wsam:Action="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/SummoningFinder/findSummoningById/Fault/StudentsSummonException"/>
</operation>
</portType>
<binding name="SummoningFinderPortBinding" type="tns:SummoningFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getLevelIds">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="StudentsSummonException">
<soap:fault name="StudentsSummonException" use="literal"/>
</fault>
</operation>
<operation name="findLevelById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="StudentsSummonException">
<soap:fault name="StudentsSummonException" use="literal"/>
</fault>
</operation>
<operation name="getAllSummoningReferences">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="StudentsSummonException">
<soap:fault name="StudentsSummonException" use="literal"/>
</fault>
</operation>
<operation name="findSummoningById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="StudentsSummonException">
<soap:fault name="StudentsSummonException" use="literal"/>
</fault>
</operation>
</binding>
<service name="SummoningFinderService">
<port name="SummoningFinderPort" binding="tns:SummoningFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/SchoolLife/SummoningFinderService"/>
</port>
</service>
</definitions>