src/main/wsdl/TwitterWrapperService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://twitter.messaging.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://twitter.messaging.technical.jSeduite.modalis.i3s.unice.fr/" name="TwitterWrapperService">
<types>
<xsd:schema>
<xsd:import namespace="http://twitter.messaging.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/Twitter/TwitterWrapperService?xsd=1"/>
</xsd:schema>
</types>
<message name="getFreeTokens">
<part name="parameters" element="tns:getFreeTokens"/>
</message>
<message name="getFreeTokensResponse">
<part name="parameters" element="tns:getFreeTokensResponse"/>
</message>
<message name="getTweets">
<part name="parameters" element="tns:getTweets"/>
</message>
<message name="getTweetsResponse">
<part name="parameters" element="tns:getTweetsResponse"/>
</message>
<message name="searchChannel">
<part name="parameters" element="tns:searchChannel"/>
</message>
<message name="searchChannelResponse">
<part name="parameters" element="tns:searchChannelResponse"/>
</message>
<portType name="TwitterWrapper">
<operation name="getFreeTokens">
<input wsam:Action="http://twitter.messaging.technical.jSeduite.modalis.i3s.unice.fr/TwitterWrapper/getFreeTokensRequest" message="tns:getFreeTokens"/>
<output wsam:Action="http://twitter.messaging.technical.jSeduite.modalis.i3s.unice.fr/TwitterWrapper/getFreeTokensResponse" message="tns:getFreeTokensResponse"/>
</operation>
<operation name="getTweets">
<input wsam:Action="http://twitter.messaging.technical.jSeduite.modalis.i3s.unice.fr/TwitterWrapper/getTweetsRequest" message="tns:getTweets"/>
<output wsam:Action="http://twitter.messaging.technical.jSeduite.modalis.i3s.unice.fr/TwitterWrapper/getTweetsResponse" message="tns:getTweetsResponse"/>
</operation>
<operation name="searchChannel">
<input wsam:Action="http://twitter.messaging.technical.jSeduite.modalis.i3s.unice.fr/TwitterWrapper/searchChannelRequest" message="tns:searchChannel"/>
<output wsam:Action="http://twitter.messaging.technical.jSeduite.modalis.i3s.unice.fr/TwitterWrapper/searchChannelResponse" message="tns:searchChannelResponse"/>
</operation>
</portType>
<binding name="TwitterWrapperPortBinding" type="tns:TwitterWrapper">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getFreeTokens">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTweets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchChannel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TwitterWrapperService">
<port name="TwitterWrapperPort" binding="tns:TwitterWrapperPortBinding">
<soap:address location="http://localhost:8080/jSeduite/Twitter/TwitterWrapperService"/>
</port>
</service>
</definitions>