src/main/xsd/AlarmCRUDService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="AlarmException" type="tns:AlarmException"/>

<xs:element name="createAlarm" type="tns:createAlarm"/>

<xs:element name="createAlarmResponse" type="tns:createAlarmResponse"/>

<xs:element name="deleteAlarm" type="tns:deleteAlarm"/>

<xs:element name="deleteAlarmResponse" type="tns:deleteAlarmResponse"/>

<xs:element name="readAlarm" type="tns:readAlarm"/>

<xs:element name="readAlarmResponse" type="tns:readAlarmResponse"/>

<xs:element name="updateAlarm" type="tns:updateAlarm"/>

<xs:element name="updateAlarmResponse" type="tns:updateAlarmResponse"/>

<xs:complexType name="updateAlarm">
<xs:sequence>
<xs:element name="a" type="tns:alarm" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alarm">
<xs:sequence>
<xs:element name="breakTime" type="tns:breakTime" minOccurs="0"/>
<xs:element name="dateRing" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="kind" type="xs:string" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="sound" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="breakTime">
<xs:sequence>
<xs:element name="building" type="xs:string" minOccurs="0"/>
<xs:element name="days" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="end" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="kind" type="xs:string" minOccurs="0"/>
<xs:element name="promos" type="tns:promo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="start" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="promo">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAlarmResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="AlarmException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createAlarm">
<xs:sequence>
<xs:element name="a" type="tns:alarm" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createAlarmResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readAlarm">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readAlarmResponse">
<xs:sequence>
<xs:element name="return" type="tns:alarm" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAlarm">
<xs:sequence>
<xs:element name="a" type="tns:alarm" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAlarmResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>