src/main/xsd/ApalWrapperService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://apal.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://apal.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="getLoosers" type="tns:getLoosers"/>

<xs:element name="getLoosersResponse" type="tns:getLoosersResponse"/>

<xs:element name="getPromos" type="tns:getPromos"/>

<xs:element name="getPromosResponse" type="tns:getPromosResponse"/>

<xs:element name="getTop10" type="tns:getTop10"/>

<xs:element name="getTop10Response" type="tns:getTop10Response"/>

<xs:element name="getTopWithTreshold" type="tns:getTopWithTreshold"/>

<xs:element name="getTopWithTresholdResponse" type="tns:getTopWithTresholdResponse"/>

<xs:complexType name="getTop10">
<xs:sequence>
<xs:element name="promoId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTop10Response">
<xs:sequence>
<xs:element name="return" type="tns:apalInfo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="apalInfo">
<xs:sequence>
<xs:element name="counter" type="xs:int"/>
<xs:element name="firstname" type="xs:string" minOccurs="0"/>
<xs:element name="lastname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTopWithTreshold">
<xs:sequence>
<xs:element name="promoId" type="xs:int"/>
<xs:element name="treshold" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTopWithTresholdResponse">
<xs:sequence>
<xs:element name="return" type="tns:apalInfo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPromos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPromosResponse">
<xs:sequence>
<xs:element name="return" type="tns:apalPromo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="apalPromo">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLoosers">
<xs:sequence>
<xs:element name="treshold" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLoosersResponse">
<xs:sequence>
<xs:element name="return" type="tns:apalLooser" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="apalLooser">
<xs:complexContent>
<xs:extension base="tns:apalInfo">
<xs:sequence>
<xs:element name="promo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:schema>