src/main/xsd/BreakTimeCRUDService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="BreakTimeException" type="tns:BreakTimeException"/>

<xs:element name="createBreakTime" type="tns:createBreakTime"/>

<xs:element name="createBreakTimeResponse" type="tns:createBreakTimeResponse"/>

<xs:element name="deleteBreakTime" type="tns:deleteBreakTime"/>

<xs:element name="deleteBreakTimeResponse" type="tns:deleteBreakTimeResponse"/>

<xs:element name="readBreakTime" type="tns:readBreakTime"/>

<xs:element name="readBreakTimeResponse" type="tns:readBreakTimeResponse"/>

<xs:element name="updateBreakTime" type="tns:updateBreakTime"/>

<xs:element name="updateBreakTimeResponse" type="tns:updateBreakTimeResponse"/>

<xs:complexType name="readBreakTime">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readBreakTimeResponse">
<xs:sequence>
<xs:element name="return" type="tns:breakTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="breakTime">
<xs:sequence>
<xs:element name="building" type="xs:string" minOccurs="0"/>
<xs:element name="days" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="end" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="kind" type="xs:string" minOccurs="0"/>
<xs:element name="promos" type="tns:promo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="start" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="promo">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BreakTimeException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateBreakTime">
<xs:sequence>
<xs:element name="b" type="tns:breakTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateBreakTimeResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="deleteBreakTime">
<xs:sequence>
<xs:element name="b" type="tns:breakTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBreakTimeResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="createBreakTime">
<xs:sequence>
<xs:element name="b" type="tns:breakTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createBreakTimeResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>