src/main/xsd/BreakScreenFinderService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://breaks.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://breaks.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="BreakScreenException" type="tns:BreakScreenException"/>

<xs:element name="findBreakScreenById" type="tns:findBreakScreenById"/>

<xs:element name="findBreakScreenByIdResponse" type="tns:findBreakScreenByIdResponse"/>

<xs:element name="getADateBreakScreensIds" type="tns:getADateBreakScreensIds"/>

<xs:element name="getADateBreakScreensIdsResponse" type="tns:getADateBreakScreensIdsResponse"/>

<xs:element name="getAllBreakScreenReferences" type="tns:getAllBreakScreenReferences"/>

<xs:element name="getAllBreakScreenReferencesResponse" type="tns:getAllBreakScreenReferencesResponse"/>

<xs:element name="getAllBuildings" type="tns:getAllBuildings"/>

<xs:element name="getAllBuildingsResponse" type="tns:getAllBuildingsResponse"/>

<xs:complexType name="getADateBreakScreensIds">
<xs:sequence>
<xs:element name="day" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getADateBreakScreensIdsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BreakScreenException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllBuildings">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllBuildingsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllBreakScreenReferences">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllBreakScreenReferencesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findBreakScreenById">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findBreakScreenByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:breakScreen" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="breakScreen">
<xs:sequence>
<xs:element name="building" type="xs:string" minOccurs="0"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
<xs:element name="days" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="end" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="sound" type="xs:string" minOccurs="0"/>
<xs:element name="start" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>