src/main/xsd/BreakTimeFinderService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="BreakTimeException" type="tns:BreakTimeException"/>

<xs:element name="findBreakTimeById" type="tns:findBreakTimeById"/>

<xs:element name="findBreakTimeByIdResponse" type="tns:findBreakTimeByIdResponse"/>

<xs:element name="getADateBreakTimesIds" type="tns:getADateBreakTimesIds"/>

<xs:element name="getADateBreakTimesIdsResponse" type="tns:getADateBreakTimesIdsResponse"/>

<xs:element name="getAllBreakTimeReferences" type="tns:getAllBreakTimeReferences"/>

<xs:element name="getAllBreakTimeReferencesResponse" type="tns:getAllBreakTimeReferencesResponse"/>

<xs:element name="getAllBuildings" type="tns:getAllBuildings"/>

<xs:element name="getAllBuildingsResponse" type="tns:getAllBuildingsResponse"/>

<xs:complexType name="getADateBreakTimesIds">
<xs:sequence>
<xs:element name="day" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getADateBreakTimesIdsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BreakTimeException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllBreakTimeReferences">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllBreakTimeReferencesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllBuildings">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllBuildingsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findBreakTimeById">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findBreakTimeByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:breakTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="breakTime">
<xs:sequence>
<xs:element name="building" type="xs:string" minOccurs="0"/>
<xs:element name="days" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="end" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="kind" type="xs:string" minOccurs="0"/>
<xs:element name="promos" type="tns:promo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="start" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="promo">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>