src/main/xsd/BreakingNewsCRUDService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="BreakingNewsException" type="tns:BreakingNewsException"/>

<xs:element name="createBreakingNews" type="tns:createBreakingNews"/>

<xs:element name="createBreakingNewsResponse" type="tns:createBreakingNewsResponse"/>

<xs:element name="deleteBreakingNews" type="tns:deleteBreakingNews"/>

<xs:element name="deleteBreakingNewsResponse" type="tns:deleteBreakingNewsResponse"/>

<xs:element name="readBreakingNews" type="tns:readBreakingNews"/>

<xs:element name="readBreakingNewsResponse" type="tns:readBreakingNewsResponse"/>

<xs:element name="updateBreakingNews" type="tns:updateBreakingNews"/>

<xs:element name="updateBreakingNewsResponse" type="tns:updateBreakingNewsResponse"/>

<xs:complexType name="createBreakingNews">
<xs:sequence>
<xs:element name="b" type="tns:breakNew" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="breakNew">
<xs:sequence>
<xs:element name="author" type="xs:string" minOccurs="0"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="stamp" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createBreakingNewsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BreakingNewsException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateBreakingNews">
<xs:sequence>
<xs:element name="b" type="tns:breakNew" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateBreakingNewsResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="readBreakingNews">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readBreakingNewsResponse">
<xs:sequence>
<xs:element name="return" type="tns:breakNew" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBreakingNews">
<xs:sequence>
<xs:element name="b" type="tns:breakNew" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBreakingNewsResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>