src/main/xsd/CourseCRUDService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="RestaurantException" type="tns:RestaurantException"/>

<xs:element name="createCourse" type="tns:createCourse"/>

<xs:element name="createCourseResponse" type="tns:createCourseResponse"/>

<xs:element name="deleteCourse" type="tns:deleteCourse"/>

<xs:element name="deleteCourseResponse" type="tns:deleteCourseResponse"/>

<xs:element name="readCourse" type="tns:readCourse"/>

<xs:element name="readCourseResponse" type="tns:readCourseResponse"/>

<xs:element name="updateCourse" type="tns:updateCourse"/>

<xs:element name="updateCourseResponse" type="tns:updateCourseResponse"/>

<xs:complexType name="updateCourse">
<xs:sequence>
<xs:element name="c" type="tns:course" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="course">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="kind" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCourseResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="RestaurantException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteCourse">
<xs:sequence>
<xs:element name="c" type="tns:course" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteCourseResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="readCourse">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readCourseResponse">
<xs:sequence>
<xs:element name="return" type="tns:course" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createCourse">
<xs:sequence>
<xs:element name="c" type="tns:course" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createCourseResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>