src/main/xsd/CourseFinderService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="RestaurantException" type="tns:RestaurantException"/>

<xs:element name="findCourseById" type="tns:findCourseById"/>

<xs:element name="findCourseByIdResponse" type="tns:findCourseByIdResponse"/>

<xs:element name="findCourseByName" type="tns:findCourseByName"/>

<xs:element name="findCourseByNameResponse" type="tns:findCourseByNameResponse"/>

<xs:element name="findCoursesByKind" type="tns:findCoursesByKind"/>

<xs:element name="findCoursesByKindResponse" type="tns:findCoursesByKindResponse"/>

<xs:element name="getAllCoursesReferences" type="tns:getAllCoursesReferences"/>

<xs:element name="getAllCoursesReferencesResponse" type="tns:getAllCoursesReferencesResponse"/>

<xs:complexType name="findCourseById">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCourseByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:course" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="course">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="kind" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RestaurantException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCourseByName">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCourseByNameResponse">
<xs:sequence>
<xs:element name="return" type="tns:course" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCoursesByKind">
<xs:sequence>
<xs:element name="kind" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCoursesByKindResponse">
<xs:sequence>
<xs:element name="return" type="tns:course" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllCoursesReferences">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllCoursesReferencesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>