src/main/xsd/DataCacheService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://cache.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://cache.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="DataCacheException" type="tns:DataCacheException"/>

<xs:element name="getContent" type="tns:getContent"/>

<xs:element name="getContentResponse" type="tns:getContentResponse"/>

<xs:element name="initContent" type="tns:initContent"/>

<xs:element name="initContentResponse" type="tns:initContentResponse"/>

<xs:element name="isValid" type="tns:isValid"/>

<xs:element name="isValidResponse" type="tns:isValidResponse"/>

<xs:element name="setContent" type="tns:setContent"/>

<xs:element name="setContentResponse" type="tns:setContentResponse"/>

<xs:complexType name="setContent">
<xs:sequence>
<xs:element name="key" type="xs:string" minOccurs="0"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setContentResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="DataCacheException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isValid">
<xs:sequence>
<xs:element name="key" type="xs:string" minOccurs="0"/>
<xs:element name="delta" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isValidResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="initContent">
<xs:sequence>
<xs:element name="key" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="initContentResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getContent">
<xs:sequence>
<xs:element name="key" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getContentResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>