src/main/xsd/DeviceCRUDService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="DeviceException" type="tns:DeviceException"/>

<xs:element name="createDevice" type="tns:createDevice"/>

<xs:element name="createDeviceResponse" type="tns:createDeviceResponse"/>

<xs:element name="deleteDevice" type="tns:deleteDevice"/>

<xs:element name="deleteDeviceResponse" type="tns:deleteDeviceResponse"/>

<xs:element name="readDevice" type="tns:readDevice"/>

<xs:element name="readDeviceResponse" type="tns:readDeviceResponse"/>

<xs:element name="updateDevice" type="tns:updateDevice"/>

<xs:element name="updateDeviceResponse" type="tns:updateDeviceResponse"/>

<xs:complexType name="updateDevice">
<xs:sequence>
<xs:element name="d" type="tns:device" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="device">
<xs:sequence>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDeviceResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="DeviceException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readDevice">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readDeviceResponse">
<xs:sequence>
<xs:element name="return" type="tns:device" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDevice">
<xs:sequence>
<xs:element name="d" type="tns:device" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDeviceResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="createDevice">
<xs:sequence>
<xs:element name="d" type="tns:device" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createDeviceResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>