src/main/xsd/FeedClassCRUDService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://registry.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="FeedRegistryException" type="tns:FeedRegistryException"/>

<xs:element name="createFeedClass" type="tns:createFeedClass"/>

<xs:element name="createFeedClassResponse" type="tns:createFeedClassResponse"/>

<xs:element name="deleteFeedClass" type="tns:deleteFeedClass"/>

<xs:element name="deleteFeedClassResponse" type="tns:deleteFeedClassResponse"/>

<xs:element name="readFeedClass" type="tns:readFeedClass"/>

<xs:element name="readFeedClassResponse" type="tns:readFeedClassResponse"/>

<xs:element name="updateFeedClass" type="tns:updateFeedClass"/>

<xs:element name="updateFeedClassResponse" type="tns:updateFeedClassResponse"/>

<xs:complexType name="deleteFeedClass">
<xs:sequence>
<xs:element name="c" type="tns:feedClass" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="feedClass">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteFeedClassResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="FeedRegistryException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readFeedClass">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readFeedClassResponse">
<xs:sequence>
<xs:element name="return" type="tns:feedClass" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateFeedClass">
<xs:sequence>
<xs:element name="c" type="tns:feedClass" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateFeedClassResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="createFeedClass">
<xs:sequence>
<xs:element name="c" type="tns:feedClass" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createFeedClassResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>