src/main/xsd/FeedRegistryService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://registry.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="FeedRegistryException" type="tns:FeedRegistryException"/>

<xs:element name="getCategories" type="tns:getCategories"/>

<xs:element name="getCategoriesResponse" type="tns:getCategoriesResponse"/>

<xs:element name="getNicknames" type="tns:getNicknames"/>

<xs:element name="getNicknamesResponse" type="tns:getNicknamesResponse"/>

<xs:element name="getURL" type="tns:getURL"/>

<xs:element name="getURLResponse" type="tns:getURLResponse"/>

<xs:complexType name="getURL">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getURLResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyURI" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FeedRegistryException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCategories">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCategoriesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNicknames">
<xs:sequence>
<xs:element name="category" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNicknamesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>