src/main/xsd/FeedFinderService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://registry.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="FeedRegistryException" type="tns:FeedRegistryException"/>

<xs:element name="findFeedById" type="tns:findFeedById"/>

<xs:element name="findFeedByIdResponse" type="tns:findFeedByIdResponse"/>

<xs:element name="getAllFeeds" type="tns:getAllFeeds"/>

<xs:element name="getAllFeedsResponse" type="tns:getAllFeedsResponse"/>

<xs:complexType name="getAllFeeds">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllFeedsResponse">
<xs:sequence>
<xs:element name="return" type="tns:feed" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="feed">
<xs:sequence>
<xs:element name="feedClass" type="tns:feedClass" minOccurs="0"/>
<xs:element name="feedURL" type="xs:string" minOccurs="0"/>
<xs:element name="nickname" type="xs:string" minOccurs="0"/>
<xs:element name="providerDNS" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="feedClass">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FeedRegistryException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findFeedById">
<xs:sequence>
<xs:element name="provider_dns" type="xs:string" minOccurs="0"/>
<xs:element name="feed_url" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findFeedByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:feed" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>