src/main/xsd/FeedCRUDService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://registry.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="FeedRegistryException" type="tns:FeedRegistryException"/>

<xs:element name="createFeed" type="tns:createFeed"/>

<xs:element name="createFeedResponse" type="tns:createFeedResponse"/>

<xs:element name="deleteFeed" type="tns:deleteFeed"/>

<xs:element name="deleteFeedResponse" type="tns:deleteFeedResponse"/>

<xs:element name="readFeed" type="tns:readFeed"/>

<xs:element name="readFeedResponse" type="tns:readFeedResponse"/>

<xs:element name="updateFeed" type="tns:updateFeed"/>

<xs:element name="updateFeedResponse" type="tns:updateFeedResponse"/>

<xs:complexType name="createFeed">
<xs:sequence>
<xs:element name="f" type="tns:feed" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="feed">
<xs:sequence>
<xs:element name="feedClass" type="tns:feedClass" minOccurs="0"/>
<xs:element name="feedURL" type="xs:string" minOccurs="0"/>
<xs:element name="nickname" type="xs:string" minOccurs="0"/>
<xs:element name="providerDNS" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="feedClass">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createFeedResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="FeedRegistryException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteFeed">
<xs:sequence>
<xs:element name="f" type="tns:feed" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteFeedResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="updateFeed">
<xs:sequence>
<xs:element name="f" type="tns:feed" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateFeedResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="readFeed">
<xs:sequence>
<xs:element name="provider_dns" type="xs:string" minOccurs="0"/>
<xs:element name="feed_url" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readFeedResponse">
<xs:sequence>
<xs:element name="return" type="tns:feed" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>