src/main/xsd/FileUploaderService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://files.upload.jseduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://files.upload.jseduite.modalis.i3s.unice.fr/">

<xs:element name="FileUploaderException" type="tns:FileUploaderException"/>

<xs:element name="deleteFile" type="tns:deleteFile"/>

<xs:element name="deleteFileResponse" type="tns:deleteFileResponse"/>

<xs:element name="getAllFiles" type="tns:getAllFiles"/>

<xs:element name="getAllFilesResponse" type="tns:getAllFilesResponse"/>

<xs:element name="getFolderFiles" type="tns:getFolderFiles"/>

<xs:element name="getFolderFilesResponse" type="tns:getFolderFilesResponse"/>

<xs:element name="getURL" type="tns:getURL"/>

<xs:element name="getURLResponse" type="tns:getURLResponse"/>

<xs:element name="uploadNewFile" type="tns:uploadNewFile"/>

<xs:element name="uploadNewFileResponse" type="tns:uploadNewFileResponse"/>

<xs:complexType name="deleteFile">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteFileResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="FileUploaderException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getURL">
<xs:sequence>
<xs:element name="folder" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getURLResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFolderFiles">
<xs:sequence>
<xs:element name="folder" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFolderFilesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="uploadNewFile">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="content" type="xs:base64Binary" nillable="true" minOccurs="0"/>
<xs:element name="folder" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="uploadNewFileResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllFiles">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllFilesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>