src/main/xsd/HyperLocatorService2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hyperlocator" xmlns:ns1="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hyperlocator">

<xs:import namespace="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin" schemaLocation="http://localhost:8080/jSeduite/HyperMachin/HyperLocatorService?xsd=1"/>

<xs:element name="HyperException" nillable="true" type="ns1:HyperException"/>

<xs:element name="getAllPromo" type="tns:getAllPromo"/>

<xs:element name="getAllPromoByBuilding" type="tns:getAllPromoByBuilding"/>

<xs:element name="getAllPromoByBuildingResponse" type="tns:getAllPromoByBuildingResponse"/>

<xs:element name="getAllPromoResponse" type="tns:getAllPromoResponse"/>

<xs:element name="getByPromo" type="tns:getByPromo"/>

<xs:element name="getByPromoResponse" type="tns:getByPromoResponse"/>

<xs:element name="locateTeacher" type="tns:locateTeacher"/>

<xs:element name="locateTeacherResponse" type="tns:locateTeacherResponse"/>

<xs:complexType name="getAllPromo">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllPromoResponse">
<xs:sequence>
<xs:element name="return" type="tns:hyperLocation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hyperLocation">
<xs:sequence>
<xs:element name="building" type="xs:string" minOccurs="0"/>
<xs:element name="end" type="xs:dateTime" minOccurs="0"/>
<xs:element name="kind" type="xs:string" minOccurs="0"/>
<xs:element name="rooms" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="start" type="xs:dateTime" minOccurs="0"/>
<xs:element name="teacher" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getByPromo">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getByPromoResponse">
<xs:sequence>
<xs:element name="return" type="tns:hyperLocation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllPromoByBuilding">
<xs:sequence>
<xs:element name="building" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllPromoByBuildingResponse">
<xs:sequence>
<xs:element name="return" type="tns:hyperLocation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="locateTeacher">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="locateTeacherResponse">
<xs:sequence>
<xs:element name="return" type="tns:hyperLocation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>