src/main/xsd/HyperMachinService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin">

<xs:element name="HyperException" type="tns:HyperException"/>

<xs:element name="getHyperEvents" type="tns:getHyperEvents"/>

<xs:element name="getHyperEventsResponse" type="tns:getHyperEventsResponse"/>

<xs:element name="getHyperEventsRestriction" type="tns:getHyperEventsRestriction"/>

<xs:element name="getHyperEventsRestrictionResponse" type="tns:getHyperEventsRestrictionResponse"/>

<xs:complexType name="getHyperEvents">
<xs:sequence>
<xs:element name="promo" type="tns:hyperPromo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hyperPromo">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0"/>
<xs:element name="groups" type="tns:hyperGroup" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hyperGroup">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="url" type="xs:anyURI" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHyperEventsResponse">
<xs:sequence>
<xs:element name="return" type="tns:hyperEvent" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hyperEvent">
<xs:sequence>
<xs:element name="building" type="xs:string" minOccurs="0"/>
<xs:element name="course" type="xs:string" minOccurs="0"/>
<xs:element name="end" type="xs:dateTime" minOccurs="0"/>
<xs:element name="groups" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="kind" type="xs:string" minOccurs="0"/>
<xs:element name="promo" type="xs:string" minOccurs="0"/>
<xs:element name="rooms" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="start" type="xs:dateTime" minOccurs="0"/>
<xs:element name="teachers" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="HyperException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHyperEventsRestriction">
<xs:sequence>
<xs:element name="promo" type="tns:hyperPromo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHyperEventsRestrictionResponse">
<xs:sequence>
<xs:element name="return" type="tns:hyperEvent" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>