src/main/xsd/InternalNewsCRUDService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="InternalNewsException" type="tns:InternalNewsException"/>

<xs:element name="createInternalNews" type="tns:createInternalNews"/>

<xs:element name="createInternalNewsResponse" type="tns:createInternalNewsResponse"/>

<xs:element name="deleteInternalNews" type="tns:deleteInternalNews"/>

<xs:element name="deleteInternalNewsResponse" type="tns:deleteInternalNewsResponse"/>

<xs:element name="readInternalNews" type="tns:readInternalNews"/>

<xs:element name="readInternalNewsResponse" type="tns:readInternalNewsResponse"/>

<xs:element name="updateInternalNews" type="tns:updateInternalNews"/>

<xs:element name="updateInternalNewsResponse" type="tns:updateInternalNewsResponse"/>

<xs:complexType name="deleteInternalNews">
<xs:sequence>
<xs:element name="i" type="tns:news" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="news">
<xs:sequence>
<xs:element name="author" type="xs:string" minOccurs="0"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
<xs:element name="end" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="start" type="xs:dateTime" minOccurs="0"/>
<xs:element name="target" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteInternalNewsResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="InternalNewsException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createInternalNews">
<xs:sequence>
<xs:element name="i" type="tns:news" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createInternalNewsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateInternalNews">
<xs:sequence>
<xs:element name="i" type="tns:news" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateInternalNewsResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="readInternalNews">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readInternalNewsResponse">
<xs:sequence>
<xs:element name="return" type="tns:news" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>