src/main/xsd/InternalNewsService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="InternalNewsException" type="tns:InternalNewsException"/>

<xs:element name="getAllNews" type="tns:getAllNews"/>

<xs:element name="getAllNewsResponse" type="tns:getAllNewsResponse"/>

<xs:element name="getTargetedNews" type="tns:getTargetedNews"/>

<xs:element name="getTargetedNewsResponse" type="tns:getTargetedNewsResponse"/>

<xs:element name="getTargets" type="tns:getTargets"/>

<xs:element name="getTargetsResponse" type="tns:getTargetsResponse"/>

<xs:complexType name="getAllNews">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllNewsResponse">
<xs:sequence>
<xs:element name="return" type="tns:news" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="news">
<xs:sequence>
<xs:element name="author" type="xs:string" minOccurs="0"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
<xs:element name="end" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="start" type="xs:dateTime" minOccurs="0"/>
<xs:element name="target" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InternalNewsException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTargetedNews">
<xs:sequence>
<xs:element name="target" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTargetedNewsResponse">
<xs:sequence>
<xs:element name="return" type="tns:news" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTargets">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getTargetsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>