src/main/xsd/InternalNewsFinderService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="InternalNewsException" type="tns:InternalNewsException"/>

<xs:element name="findInternalNewsById" type="tns:findInternalNewsById"/>

<xs:element name="findInternalNewsByIdResponse" type="tns:findInternalNewsByIdResponse"/>

<xs:element name="findTargetById" type="tns:findTargetById"/>

<xs:element name="findTargetByIdResponse" type="tns:findTargetByIdResponse"/>

<xs:element name="getAllInternalNewsReferences" type="tns:getAllInternalNewsReferences"/>

<xs:element name="getAllInternalNewsReferencesResponse" type="tns:getAllInternalNewsReferencesResponse"/>

<xs:element name="getTargetsIds" type="tns:getTargetsIds"/>

<xs:element name="getTargetsIdsResponse" type="tns:getTargetsIdsResponse"/>

<xs:complexType name="getAllInternalNewsReferences">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllInternalNewsReferencesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InternalNewsException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findInternalNewsById">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findInternalNewsByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:news" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="news">
<xs:sequence>
<xs:element name="author" type="xs:string" minOccurs="0"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
<xs:element name="end" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="start" type="xs:dateTime" minOccurs="0"/>
<xs:element name="target" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findTargetById">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findTargetByIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTargetsIds">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getTargetsIdsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>