src/main/xsd/MenuCRUDService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="RestaurantException" type="tns:RestaurantException"/>

<xs:element name="createMenu" type="tns:createMenu"/>

<xs:element name="createMenuResponse" type="tns:createMenuResponse"/>

<xs:element name="deleteMenu" type="tns:deleteMenu"/>

<xs:element name="deleteMenuResponse" type="tns:deleteMenuResponse"/>

<xs:element name="readMenu" type="tns:readMenu"/>

<xs:element name="readMenuResponse" type="tns:readMenuResponse"/>

<xs:element name="updateMenu" type="tns:updateMenu"/>

<xs:element name="updateMenuResponse" type="tns:updateMenuResponse"/>

<xs:complexType name="deleteMenu">
<xs:sequence>
<xs:element name="m" type="tns:menu" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="menu">
<xs:sequence>
<xs:element name="courses" type="tns:course" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="date" type="xs:dateTime" minOccurs="0"/>
<xs:element name="typeMenu" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="course">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="kind" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteMenuResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="RestaurantException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createMenu">
<xs:sequence>
<xs:element name="m" type="tns:menu" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createMenuResponse">
<xs:sequence>
<xs:element name="return" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readMenu">
<xs:sequence>
<xs:element name="ref" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readMenuResponse">
<xs:sequence>
<xs:element name="return" type="tns:menu" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateMenu">
<xs:sequence>
<xs:element name="m" type="tns:menu" minOccurs="0"/>
<xs:element name="id" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateMenuResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>