src/main/xsd/MenuFinderService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="RestaurantException" type="tns:RestaurantException"/>

<xs:element name="findAvailableMenuType" type="tns:findAvailableMenuType"/>

<xs:element name="findAvailableMenuTypeResponse" type="tns:findAvailableMenuTypeResponse"/>

<xs:element name="findMenuByDate" type="tns:findMenuByDate"/>

<xs:element name="findMenuByDateResponse" type="tns:findMenuByDateResponse"/>

<xs:element name="findNextDateMenu" type="tns:findNextDateMenu"/>

<xs:element name="findNextDateMenuResponse" type="tns:findNextDateMenuResponse"/>

<xs:element name="getAllMenuReferences" type="tns:getAllMenuReferences"/>

<xs:element name="getAllMenuReferencesResponse" type="tns:getAllMenuReferencesResponse"/>

<xs:complexType name="findMenuByDate">
<xs:sequence>
<xs:element name="date" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findMenuByDateResponse">
<xs:sequence>
<xs:element name="return" type="tns:menu" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="menu">
<xs:sequence>
<xs:element name="courses" type="tns:course" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="date" type="xs:dateTime" minOccurs="0"/>
<xs:element name="typeMenu" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="course">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="kind" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RestaurantException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAvailableMenuType">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAvailableMenuTypeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllMenuReferences">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllMenuReferencesResponse">
<xs:sequence>
<xs:element name="return" type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findNextDateMenu">
<xs:sequence>
<xs:element name="date" type="xs:dateTime" minOccurs="0"/>
<xs:element name="delta" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findNextDateMenuResponse">
<xs:sequence>
<xs:element name="return" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>