src/main/xsd/ParamFinderService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="ParamException" type="tns:ParamException"/>

<xs:element name="getParameterCard" type="tns:getParameterCard"/>

<xs:element name="getParameterCardResponse" type="tns:getParameterCardResponse"/>

<xs:element name="getParameters" type="tns:getParameters"/>

<xs:element name="getParametersForSource" type="tns:getParametersForSource"/>

<xs:element name="getParametersForSourceResponse" type="tns:getParametersForSourceResponse"/>

<xs:element name="getParametersResponse" type="tns:getParametersResponse"/>

<xs:complexType name="getParametersForSource">
<xs:sequence>
<xs:element name="source" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getParametersForSourceResponse">
<xs:sequence>
<xs:element name="return" type="tns:param" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="param">
<xs:sequence>
<xs:element name="defaultValue" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="prettyName" type="xs:string" minOccurs="0"/>
<xs:element name="setId" type="xs:int"/>
<xs:element name="value" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ParamException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getParameters">
<xs:sequence>
<xs:element name="source" type="xs:string" minOccurs="0"/>
<xs:element name="device" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getParametersResponse">
<xs:sequence>
<xs:element name="return" type="tns:param" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getParameterCard">
<xs:sequence>
<xs:element name="source" type="xs:string" minOccurs="0"/>
<xs:element name="device" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getParameterCardResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>