src/main/xsd/PartnerKeysFinderService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="PartnerKeysException" type="tns:PartnerKeysException"/>

<xs:element name="findPartnerKeyById" type="tns:findPartnerKeyById"/>

<xs:element name="findPartnerKeyByIdResponse" type="tns:findPartnerKeyByIdResponse"/>

<xs:element name="getAllPartnerKeysReferences" type="tns:getAllPartnerKeysReferences"/>

<xs:element name="getAllPartnerKeysReferencesResponse" type="tns:getAllPartnerKeysReferencesResponse"/>

<xs:complexType name="getAllPartnerKeysReferences">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllPartnerKeysReferencesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PartnerKeysException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPartnerKeyById">
<xs:sequence>
<xs:element name="key" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPartnerKeyByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:partnerKey" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerKey">
<xs:sequence>
<xs:element name="key" type="xs:string" minOccurs="0"/>
<xs:element name="value" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>