src/main/xsd/PicasaWrapperService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://picasa.image.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://picasa.image.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="PicasaWrapperException" type="tns:PicasaWrapperException"/>

<xs:element name="getAlbumContent" type="tns:getAlbumContent"/>

<xs:element name="getAlbumContentResponse" type="tns:getAlbumContentResponse"/>

<xs:element name="getFolksonomyContent" type="tns:getFolksonomyContent"/>

<xs:element name="getFolksonomyContentResponse" type="tns:getFolksonomyContentResponse"/>

<xs:element name="getProtectedAlbumContent" type="tns:getProtectedAlbumContent"/>

<xs:element name="getProtectedAlbumContentResponse" type="tns:getProtectedAlbumContentResponse"/>

<xs:complexType name="getFolksonomyContent">
<xs:sequence>
<xs:element name="query" type="xs:string" minOccurs="0"/>
<xs:element name="count" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFolksonomyContentResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyURI" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PicasaWrapperException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProtectedAlbumContent">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0"/>
<xs:element name="album" type="xs:string" minOccurs="0"/>
<xs:element name="authKey" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProtectedAlbumContentResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyURI" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAlbumContent">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0"/>
<xs:element name="album" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAlbumContentResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyURI" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>