src/main/xsd/PictogramFinderService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="PictogramException" type="tns:PictogramException"/>

<xs:element name="findPictogramById" type="tns:findPictogramById"/>

<xs:element name="findPictogramByIdResponse" type="tns:findPictogramByIdResponse"/>

<xs:element name="getAllPictogramReferences" type="tns:getAllPictogramReferences"/>

<xs:element name="getAllPictogramReferencesResponse" type="tns:getAllPictogramReferencesResponse"/>

<xs:complexType name="getAllPictogramReferences">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllPictogramReferencesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PictogramException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPictogramById">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPictogramByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:pictogram" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pictogram">
<xs:sequence>
<xs:element name="end" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="picture1" type="xs:string" minOccurs="0"/>
<xs:element name="picture2" type="xs:string" minOccurs="0"/>
<xs:element name="start" type="xs:dateTime" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>