src/main/xsd/PictureSetService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://helper.image.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://helper.image.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="merge" type="tns:merge"/>

<xs:element name="mergeResponse" type="tns:mergeResponse"/>

<xs:element name="shuffle" type="tns:shuffle"/>

<xs:element name="shuffleResponse" type="tns:shuffleResponse"/>

<xs:element name="truncate" type="tns:truncate"/>

<xs:element name="truncateResponse" type="tns:truncateResponse"/>

<xs:complexType name="merge">
<xs:sequence>
<xs:element name="first" type="xs:anyURI" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="second" type="xs:anyURI" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mergeResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyURI" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="shuffle">
<xs:sequence>
<xs:element name="set" type="xs:anyURI" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="shuffleResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyURI" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="truncate">
<xs:sequence>
<xs:element name="set" type="xs:anyURI" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="count" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="truncateResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyURI" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>