src/main/xsd/PictureAlbumRegistryService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="PictureAlbumRegistryException" type="tns:PictureAlbumRegistryException"/>

<xs:element name="getValidAlbums" type="tns:getValidAlbums"/>

<xs:element name="getValidAlbumsResponse" type="tns:getValidAlbumsResponse"/>

<xs:complexType name="getValidAlbums">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getValidAlbumsResponse">
<xs:sequence>
<xs:element name="return" type="tns:pictureAlbum" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pictureAlbum">
<xs:sequence>
<xs:element name="album" type="xs:string" minOccurs="0"/>
<xs:element name="authKey" type="xs:string" minOccurs="0"/>
<xs:element name="duration" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="repository" type="xs:string" minOccurs="0"/>
<xs:element name="user" type="xs:string" minOccurs="0"/>
<xs:element name="validFrom" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PictureAlbumRegistryException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>