src/main/xsd/PlanningCRUDService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="PlanningException" type="tns:PlanningException"/>

<xs:element name="createPlanning" type="tns:createPlanning"/>

<xs:element name="createPlanningResponse" type="tns:createPlanningResponse"/>

<xs:element name="deletePlanning" type="tns:deletePlanning"/>

<xs:element name="deletePlanningResponse" type="tns:deletePlanningResponse"/>

<xs:element name="readPlanning" type="tns:readPlanning"/>

<xs:element name="readPlanningResponse" type="tns:readPlanningResponse"/>

<xs:element name="updatePlanning" type="tns:updatePlanning"/>

<xs:element name="updatePlanningResponse" type="tns:updatePlanningResponse"/>

<xs:complexType name="createPlanning">
<xs:sequence>
<xs:element name="p" type="tns:planning" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="planning">
<xs:sequence>
<xs:element name="groups" type="tns:planningGroup" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="planning" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="planningGroup">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="planning" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createPlanningResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PlanningException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletePlanning">
<xs:sequence>
<xs:element name="p" type="tns:planning" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletePlanningResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="updatePlanning">
<xs:sequence>
<xs:element name="p" type="tns:planning" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePlanningResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="readPlanning">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readPlanningResponse">
<xs:sequence>
<xs:element name="return" type="tns:planning" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>