src/main/xsd/PromoCRUDService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://promos.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://promos.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="PromoException" type="tns:PromoException"/>

<xs:element name="createPromo" type="tns:createPromo"/>

<xs:element name="createPromoResponse" type="tns:createPromoResponse"/>

<xs:element name="deletePromo" type="tns:deletePromo"/>

<xs:element name="deletePromoResponse" type="tns:deletePromoResponse"/>

<xs:element name="readPromo" type="tns:readPromo"/>

<xs:element name="readPromoResponse" type="tns:readPromoResponse"/>

<xs:element name="updatePromo" type="tns:updatePromo"/>

<xs:element name="updatePromoResponse" type="tns:updatePromoResponse"/>

<xs:complexType name="updatePromo">
<xs:sequence>
<xs:element name="p" type="tns:promo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="promo">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePromoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="PromoException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createPromo">
<xs:sequence>
<xs:element name="p" type="tns:promo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createPromoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletePromo">
<xs:sequence>
<xs:element name="p" type="tns:promo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletePromoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="readPromo">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readPromoResponse">
<xs:sequence>
<xs:element name="return" type="tns:promo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>