src/main/xsd/PromoFinderService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://promos.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://promos.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="PromoException" type="tns:PromoException"/>

<xs:element name="findPromoById" type="tns:findPromoById"/>

<xs:element name="findPromoByIdResponse" type="tns:findPromoByIdResponse"/>

<xs:element name="getAllPromosReferences" type="tns:getAllPromosReferences"/>

<xs:element name="getAllPromosReferencesResponse" type="tns:getAllPromosReferencesResponse"/>

<xs:complexType name="getAllPromosReferences">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllPromosReferencesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PromoException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPromoById">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPromoByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:promo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="promo">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>