src/main/xsd/SourceCRUDService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="SourceException" type="tns:SourceException"/>

<xs:element name="createSource" type="tns:createSource"/>

<xs:element name="createSourceResponse" type="tns:createSourceResponse"/>

<xs:element name="deleteSource" type="tns:deleteSource"/>

<xs:element name="deleteSourceResponse" type="tns:deleteSourceResponse"/>

<xs:element name="readSource" type="tns:readSource"/>

<xs:element name="readSourceResponse" type="tns:readSourceResponse"/>

<xs:element name="updateSource" type="tns:updateSource"/>

<xs:element name="updateSourceResponse" type="tns:updateSourceResponse"/>

<xs:complexType name="updateSource">
<xs:sequence>
<xs:element name="s" type="tns:source" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="source">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="nickname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateSourceResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="SourceException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteSource">
<xs:sequence>
<xs:element name="s" type="tns:source" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteSourceResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="readSource">
<xs:sequence>
<xs:element name="nickname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readSourceResponse">
<xs:sequence>
<xs:element name="return" type="tns:source" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createSource">
<xs:sequence>
<xs:element name="s" type="tns:source" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createSourceResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>