src/main/xsd/StudentSummonService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="StudentsSummonException" type="tns:StudentsSummonException"/>

<xs:element name="getSummoned" type="tns:getSummoned"/>

<xs:element name="getSummonedByCode" type="tns:getSummonedByCode"/>

<xs:element name="getSummonedByCodeResponse" type="tns:getSummonedByCodeResponse"/>

<xs:element name="getSummonedResponse" type="tns:getSummonedResponse"/>

<xs:complexType name="getSummoned">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getSummonedResponse">
<xs:sequence>
<xs:element name="return" type="tns:validSummoning" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validSummoning">
<xs:sequence>
<xs:element name="date" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="level" type="xs:string" minOccurs="0"/>
<xs:element name="owner" type="xs:string" minOccurs="0"/>
<xs:element name="promo" type="xs:string" minOccurs="0"/>
<xs:element name="student" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="StudentsSummonException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSummonedByCode">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSummonedByCodeResponse">
<xs:sequence>
<xs:element name="return" type="tns:validSummoning" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>