src/main/xsd/SummoningFinderService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="StudentsSummonException" type="tns:StudentsSummonException"/>

<xs:element name="findLevelById" type="tns:findLevelById"/>

<xs:element name="findLevelByIdResponse" type="tns:findLevelByIdResponse"/>

<xs:element name="findSummoningById" type="tns:findSummoningById"/>

<xs:element name="findSummoningByIdResponse" type="tns:findSummoningByIdResponse"/>

<xs:element name="getAllSummoningReferences" type="tns:getAllSummoningReferences"/>

<xs:element name="getAllSummoningReferencesResponse" type="tns:getAllSummoningReferencesResponse"/>

<xs:element name="getLevelIds" type="tns:getLevelIds"/>

<xs:element name="getLevelIdsResponse" type="tns:getLevelIdsResponse"/>

<xs:complexType name="getLevelIds">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getLevelIdsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="StudentsSummonException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllSummoningReferences">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllSummoningReferencesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findSummoningById">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findSummoningByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:summoning" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="summoning">
<xs:sequence>
<xs:element name="date" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="level" type="xs:int"/>
<xs:element name="owner" type="xs:string" minOccurs="0"/>
<xs:element name="promo" type="tns:promo" minOccurs="0"/>
<xs:element name="student" type="xs:string" minOccurs="0"/>
<xs:element name="valid" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="promo">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findLevelById">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findLevelByIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>