src/main/xsd/TimeMachineService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://time.helpers.technical.jSeduite.modails.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://time.helpers.technical.jSeduite.modails.i3s.unice.fr/">

<xs:element name="compare" type="tns:compare"/>

<xs:element name="compareResponse" type="tns:compareResponse"/>

<xs:complexType name="compare">
<xs:sequence>
<xs:element name="d1" type="xs:dateTime" minOccurs="0"/>
<xs:element name="d2" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="compareResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>