src/main/xsd/TwitterWrapperService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://twitter.messaging.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://twitter.messaging.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="getFreeTokens" type="tns:getFreeTokens"/>

<xs:element name="getFreeTokensResponse" type="tns:getFreeTokensResponse"/>

<xs:element name="getTweets" type="tns:getTweets"/>

<xs:element name="getTweetsResponse" type="tns:getTweetsResponse"/>

<xs:element name="searchChannel" type="tns:searchChannel"/>

<xs:element name="searchChannelResponse" type="tns:searchChannelResponse"/>

<xs:complexType name="getFreeTokens">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFreeTokensResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTweets">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="treshold" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTweetsResponse">
<xs:sequence>
<xs:element name="return" type="tns:tweet" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tweet">
<xs:sequence>
<xs:element name="author" type="xs:string" minOccurs="0"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
<xs:element name="date" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchChannel">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="channel" type="xs:string" minOccurs="0"/>
<xs:element name="treshold" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchChannelResponse">
<xs:sequence>
<xs:element name="return" type="tns:tweet" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>